/* Overall Section */
.abacus-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 8rem;
    background: linear-gradient(to left, #ffffff, #fff6eb);
    gap: 2rem;
  }
  
  /* Left Content Section */
  .abacus-content {
    flex: 1;
  }
  
  .abacus-heading {
    font-size: 50px;
    font-weight: 44;
    color: #343434;
    margin-bottom: 1rem;
    font-family: Lilita One;
  }
  
  .abacus-description {
    font-size: 24px;
    color: #455a64;
    margin-bottom: 2rem;
    font-family: geologica;
    line-height: 1.3;
  }
  
  /* Points List */
  .abacus-points {
    list-style: none;
    padding: 0;
    margin-bottom: 2rem;
  }
  
  .abacus-points li {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    font-family: geologica;
    font-size: 24px;
    color: #343434;
  }
  
  .abacus-points li img {
    margin-right: 0.8rem;
    height: 24px;
    width: 24px;
  }
  
  .abacus-points li span {
    line-height: 1.6;
    font-size: 24px;
  }
  

  .abacus-button {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 20px 16px; 
    background-color: #f58634;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    font-size: 19.19px;
    width: 270px; 
    height: 56px; 
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(255, 124, 46, 0.6);
  }
  
  .abacus-button:hover {
    background-color: #f58634;
    box-shadow: 0 0 20px rgba(255, 124, 46, 0.8);
  }
  
  /* Right Image Section */
  .abacus-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  
  .abacus-image img {
    max-width: 699px;
    height: 606px;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }

  .abacus-image img:hover {
    transform: translateY(-10px);
    }