.about-us-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    gap: 10px;
    /* background: linear-gradient(to right, #fff, #ffe6cc); */
    background: linear-gradient(to right, #fff, #fff6eb); 
  }
  
  .about-us-content {
    flex: 1;
    max-width: 50%;
    margin-left: 80px;
  }
  
  /* Move pagename to the top with reduced margin */
  .pagename {
    font-size: 24px;
    color: #455a64;
    margin-top: 0; /* Remove any unnecessary space above */
    margin-bottom: 8px; /* Slight gap to the next element */
    position: relative;
    top: -84px; 
    font-family: geologica;/* Adjust the vertical positioning */
  }
  
  .pagename span {
    color: #f58634;
  }
  
  .headline {
    font-size: 50px;
    font-weight: 400;
    color: #455a64;
    font-family: Lilita One;
    margin: 0 0 8px 0; /* Reduced margin-bottom for closer spacing */
  }
  
  .headline span {
    color: #f58634;
    font-size: 80px;
    font-weight: 400px;
    font-family: lilita one;
  }
  
  .subheadline {
    font-size: 24px;
    font-weight: 400;
    font-family: geologica;
    color: #343434;
    margin: 8px 0; /* Reduced margin for closer spacing */
  }
  
  .description {
    font-size: 22px;
    color: #455a64;
    font-style: geologica;
    font-weight: 100;
    line-height: 1.4; /* Slightly reduced line spacing */
    margin-top: 8px; /* Close spacing from the subheadline */
  }
  
  .about-us-image {
    flex: 1;
    max-width: 45%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }
  
  .about-us-image img {
    /* max-width: 100%; */
    border-radius: 68px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    height: 529px;
    width:455px;
    margin-left: 110px;
  }
  