.pagename {
  font-size: 24px;
  color: #455a64;
  margin-bottom: 30px;
  position: relative;
  font-family: geologica;
  top: 0px;
  padding: 2rem;
}
.maincourse-container {
  display: flex;
  padding: 40px;
  width: 1152px;
  height: 567px;
  
}

.maincourse-section {
  display: flex;
  width: 1152px;
  height: 567px;
  border: 2px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 36px 96px;
  margin-left: 57px;
}


.maincourse-content {
  flex: 1;
  max-width: 50%;
 
}

.maincourse-heading {
  font-size: 50px; 
  font-weight: 400;
  color: #f58634; 
  margin-bottom: 1rem;
  font-family: 'Lilita One';
}
.maincourse-points-wholelist{
  display: flex;
  flex-direction: column;
  text-align: left;
}
.maincourse-points {
  list-style: none;
  padding: 0;
  margin: 0;
}
.maincourse-points-list {
  display: flex;
  flex-direction: row;
  font-size: 22px;
  color: #455a64;
  font-family: Geologica;
  gap: 10px;
}
.maincourse-subcontent li{
  font-size: 24px;
  font-family: Geologica;
  color: #455a64;
  line-height: 50px;

}
.maincourse-subcontent li span{
  font-weight: 400;
  
}

.maincourse-points p {
  display: flex;
  font-size: 18px;
  color: #455a64; 
  font-family: Geologica;
  margin: 8px 0; 
}

.maincourse-points p img {
  width: 20px;
  height: 20px;
}

.maincourse-points-list span {
  font-weight: 400;
  font-size: 24px;
  font-family: geologica;
  color: #455a64;
}
.maincourse-subcontent span {
  font-size: 24px;
  font-family: geologica;
  color: #f58634;
}

.maincourse-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  width: 389px;
  height: 56px;
  background-color: #f58634;
  color: #ffffff;
  font-size: 24px;
  font-weight: semibold;
  font-family: geologica;
  text-align: center;
  border-radius: 8px;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(245, 134, 52, 0.4);
  transition: all 0.3s ease;
}

.maincourse-button:hover {
  background-color: #e7752a;
  box-shadow: 0 6px 12px rgba(245, 134, 52, 0.6);
}

.maincourse-image {
  flex: 1;
  max-width: 50%; 
  display: flex;
  justify-content: flex-end;
}

.maincourse-image img {
  object-fit: cover;
  transition: transform 0.3s ease;
  animation: none; /* No animation initially */
}

.maincourse-image img:hover {
  animation: wiggle 1.0s ease infinite; /* Trigger wiggle on hover */
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
