.branches-container {
  padding: 0 110px;
}

.branches-heading {
  font-size: 24px;
  color: #f58634;
  margin-bottom: 20px;
  text-align: left;
  font-family: Geologica;
  font-weight: 400;
  margin-left:8%;
}

.branches-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.branch-card {
  flex: 1;
  max-width: 85%;
  text-align: center;
}

.branch-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: left;
  font-family: 'Geologica';
  font-weight: 400;
  color: #455a64;
}

.branch-card p {
  font-size: 22px;
  margin-top: 10px;
  text-align: left;
  color: #455a64;
}
.swiper {
  margin-left: 8%;
}

.contact-social-section {
  text-align: center;
  margin-top: 95px;
}

.contact-social-section-heading {
  font-size: 24px;
  color: #f58634;
  font-family: geologica;
  margin-bottom: 20px;
  text-align: center;
}

.contact-social-icons {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.social-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #455a64;
  font-family: Geologica;
  gap: 10px;
}

.icon-container {
  width: 50px;
  height: 50px;
  background-color: #f5f5f5;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.icon-container i {
  color: orange;
  font-size: 20px;
}

.social-link span {
  font-size: 22px;
  color: #455a64;
}


.media-section {
  margin-top: 65px;
  margin-bottom: 65px;
  padding: 0 12px;
}
.media-section-heading {
  margin-bottom: -45px;
  font-size: 24px;
  font-family: 'Geologica';
  color: #455A64;
  margin-left: 111px;
  
}
.media-section-redirect a{
  margin-bottom: 20px;
  font-family: Geologica;
  font-size: 20px;
  color: #f58634;
  margin-left: 990px;
}

.media-gallery {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin: 20px 0;
}

.media-gallery img {
  width: 275.73px;
  height: 256.49px;
  border-radius: 29.66px;
}
.media-gallery img:hover {
  transform: scale(1.05);
}

.contact-footer-text {
  margin-top: 40px;
  font-size: 24px;
  font-family: 'Geologica';
  color: #455A64;
  text-align: center;
}
@media (max-width: 768px) {
  .branches-container {
    padding: 0 50px;
  }

  .branches-heading {
    font-size: 20px;
  }

  .branches-row {
    gap: 15px;
  }

  .branch-card {
    max-width: 45%;
  }

  .branch-card h3 {
    font-size: 20px;
  }

  .branch-card p {
    font-size: 18px;
  }

  .contact-social-section-heading {
    font-size: 20px;
  }
  .media-section-heading{
    margin-bottom: -10px;
    font-size: 18px;
  }

  .media-gallery {
    flex-direction: row;
    gap: 20px;
  }

  .media-gallery img {
    width: 23%;
    height: auto;
    border-radius: 0px;
  }

  .media-section-redirect a {
    margin-left: 0;
    font-size: 12px;
  }

  .contact-footer-text {
    font-size: 20px;
  }
}

/* For screens smaller than 425px */
@media (max-width: 426px) {
  .branches-container {
    padding: 0 30px;
  }

  .branches-heading {
    font-size: 18px;
  }

  .branches-row {
    gap: 10px;
  }

  .branch-card {
    max-width: 90%;
  }

  .branch-card h3 {
    font-size: 18px;
  }

  .branch-card p {
    font-size: 16px;
  }

  .contact-social-section-heading {
    font-size: 18px;
  }
  .media-section-heading {
    margin-left: 67px;
}

  .media-gallery img {
    width: 21%;
  }

  .contact-footer-text {
    font-size: 18px;
  }
  .icon-container {
    width: 30px;
    height:30px;
  }
  .social-link span {
    font-size: 16px;
  }
  .contact-social-icons{
    gap: 15px;
  }
}
@media (max-width: 391px) {
  .social-link span {
    font-size: 14px;
}
}
@media (max-width: 376px) {
  .branches-container {
    padding: 0 20px;
  }

  .branches-heading {
    font-size: 16px;
  }

  .branches-row {
    gap: 10px;
  }

  .branch-card {
    max-width: 90%;
  }

  .branch-card h3 {
    font-size: 16px;
  }

  .branch-card p {
    font-size: 14px;
  }

  .contact-social-section-heading {
    font-size: 16px;
  }

  .media-gallery img {
    width: 22%;
  }

  .contact-footer-text {
    font-size: 16px;
  }
  .icon-container {
    width: 18px;
    height:30px;
  }
  .social-link span {
    font-size: 14px;
  }
}

@media (max-width: 321px) {
  .branches-container {
    padding: 0 15px;
  }

  .branches-heading {
    font-size: 14px;
  }

  .branches-row {
    gap: 5px;
  }

  .branch-card {
    max-width: 90%;
  }

  .branch-card h3 {
    font-size: 14px;
  }

  .branch-card p {
    font-size: 12px;
  }

  .contact-social-section-heading {
    font-size: 14px;
  }

  .media-gallery img {
    width: 20%;
  }

  .contact-footer-text {
    font-size: 14px;
  }
  .icon-container {
    width: 20px;
    height:30px;
  }
  .social-link span {
    font-size: 10px;
  }
  .media-section-heading{
    margin-left: 44px;
    font-size: 15px;
  }
}