.contact-container {
    padding: 80px 20px;
    max-width: 1200px;
    margin: auto;
}
.contact-pagename {
    text-align: left;
    font-size: 24px;
    font-family: 'Geologica';
    color: #455a64;
    margin-bottom: 30px;
    margin-top: -43px;
}
.contact-pagename span a{
    color: #f58634;
}

.contact-pagename a {
    text-decoration: none;
    color:  #455a64;
    margin: 0 5px;
}

.contact-title h1 {
    font-size: 36px;
    color: #455a64;
    font-family: 'Lilita One';
    font-weight: 400;
    margin-bottom: 10px;
}

.contact-title p {
    font-size: 18px;
    color: #f58634;
    font-family: 'Geologica';
    margin-bottom: 20px;
}

.contact-forms {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-row {
    display: flex;
    gap: 20px;
}

.form-row input {
    flex: 1;
}

textarea {
    resize: none;
    height: 100px;
    font-size: 16px;
}

.job-application {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.job-application h3 {
    color: #f58634;
    font-family: 'Geologica';
    font-size: 24px;
    margin-bottom: 10px;
}

.job-application p {
    font-size: 18px;
    color: #4f5665;
    margin-bottom: 20px;
}

.job-application .form-job-form {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.job-left,
.job-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.job-right .btn {
    align-self: flex-start;
}

input,
textarea {
    padding: 10px 23px;
    border: 1px solid #455a64;
    border-radius: 16px;
    font-size: 16px;
    font-family: 'Geologica';
}

input[type='file'] {
    padding: 10px;
}

.contact-form-btn {
    background-color: #F58634;
    color: #fff;
    padding: 16px 20px;
    width: 488px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.contact-form-btn:hover {
    background-color: #F58634;
}
@media (max-width: 768px) {
    .contact-title h1 {
        font-size: 28px;
    }

    .contact-title p {
        font-size: 16px;
    }

    .form-row {
        flex-direction: column;
    }

    .contact-forms {
        gap: 20px;
    }

    .job-application .form-job-form {
        flex-direction: column;
    }

    .job-left,
    .job-right {
        flex: 1;
        width: 100%;
    }

    .contact-form-btn {
        width: 100%;
    }
}
@media (max-width: 425px) {
    .contact-container {
        padding: 60px 15px;
    }

    .contact-pagename {
        font-size: 20px;
        margin-bottom: 50px;
    }

    .contact-title h1 {
        font-size: 28px;
    }

    .contact-title p {
        font-size: 16px;
    }

    .form-row {
        flex-direction: column;
    }

    .contact-form-btn {
        padding: 14px;
        font-size: 14px;
        width: 100%;
    }
}

@media (max-width: 375px) {
    .contact-container {
        padding: 50px 10px;
    }

    .contact-title h1 {
        font-size: 24px;
    }

    .contact-title p {
        font-size: 14px;
    }

    input,
    textarea {
        font-size: 14px;
    }

    .contact-pagename {
        font-size: 18px;
    }
}

@media (max-width: 320px) {
    .contact-container {
        padding: 40px 10px;
    }

    .contact-title h1 {
        font-size: 20px;
    }

    .contact-title p {
        font-size: 12px;
    }

    input,
    textarea {
        font-size: 12px;
        padding: 8px 15px;
    }

    .contact-form-btn {
        padding: 12px;
        font-size: 12px;
        width: 100%;
    }
}