.branches-container {
  padding: 0 110px;
}

.branches-heading {
  font-size: 24px;
  color: var(--primary-orange);
  margin-bottom: 20px;
  text-align: left;
  font-family: Geologica;
  font-weight: 400;
  margin-left:8%;
}

.branches-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.branch-card {
  flex: 0 0 calc((100% - 40px) / 3);
  min-width: 0;
  text-align: center;
}

@media (max-width: 767px) {
  .branch-card {
    flex: 0 0 calc((100% - 20px) / 2);
  }
}

@media (max-width: 430px) {
  .branch-card {
    flex: 0 0 100%;
  }
}

.branch-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: left;
  font-family: 'Geologica';
  font-weight: 400;
  color: var(--primary-grey);
}

.branch-card p {
  font-size: 22px;
  margin-top: 10px;
  text-align: left;
  color: var(--primary-grey);
}

.branch-slider-container {
  position: relative;
  margin-left: 8%;
}

.branch-slider {
  display: flex;
  gap: 20px;
  overflow: hidden;
}

.branch-slider-buttons {
  position: absolute;
  bottom: -60px;
  display: flex;
  gap: 10px;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 600px) {
  .branch-slider-buttons {
    left: auto;
    right: 45px;
    transform: none;
  }
}

.branch-slider-button-left {
  width: 50px;
  height: 50px;
  background-color: #f37a1f;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.branch-slider-button-right {
  width: 50px;
  height: 50px;
  background-color: #f37a1f;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.branch-slider-button-left:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
}

.branch-slider-button-right:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
}

.branch-slider-button-left:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.branch-slider-button-right:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.branch-slider-button-left:disabled {
  background-color: #ddd;
  color: #aaa;
  cursor: not-allowed;
  box-shadow: none;
}

.branch-slider-button-right:disabled {
  background-color: #ddd;
  color: #aaa;
  cursor: not-allowed;
  box-shadow: none;
}

.contact-social-section {
  text-align: center;
  margin-top: 95px;
}

.contact-social-section-heading {
  font-size: 24px;
  color: var(--primary-orange);
  font-family: geologica;
  margin-bottom: 20px;
  text-align: center;
}

.contact-social-icons {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.social-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: var(--primary-grey);
  font-family: Geologica;
  gap: 5px;
}

.icon-container {
  width: 50px;
  height: 50px;
  background-color: var(--bg-color);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.icon-container i {
  color: orange;
  font-size: 20px;
}

.social-link span {
  font-size: 22px;
  color: var(--primary-grey);
}


.media-section {
  margin-top: 65px;
  margin-bottom: 65px;
  margin-left: 8%;
}
.media-section-heading {
  margin-bottom: -45px;
  font-size: 24px;
  font-family: 'Geologica';
  color: var(--primary-grey);
  
}
.media-section-redirect a{
  margin-bottom: 20px;
  font-family: Geologica;
  font-size: 20px;
  color: var(--primary-orange);
  margin-left: 999px;
}

.media-gallery {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin-left: -115px;
  margin-top: 38px;
}

.media-gallery img {
  width: 275.73px;
  height: 256.49px;
  border-radius: 29.66px;
}
.media-gallery img:hover {
  transform: scale(1.05);
}

.contact-footer-text {
  margin-top: 40px;
  font-size: 24px;
  font-family: 'Geologica';
  color: var(--primary-grey);
  text-align: center;
}
@media (max-width: 1115px) {
.media-gallery {
  margin-left: -53px;
}
.media-gallery img {
  width: 241.73px;
  height: 237.49px;
}
.media-section-redirect a {
  margin-left: 677px;
}
.contact-footer-text {
  margin-left: -7%;
}
}
@media (max-width: 884px) {
.branch-card h3 {
  font-size: 25px;
}
.media-gallery {
  margin-left: -53px;
}
.media-gallery img {
  width: 177.73px;
  height: 185.49px;
}
.media-section-redirect a {
  margin-left: 677px;
}
.contact-footer-text {
  margin-left: -7%;
}
}
@media (max-width: 820px) {

.media-gallery img {
  width: 159.73px;
  height: 163.49px;
}
.media-section-redirect a {
margin-left: 501px;
}
}

@media (max-width: 800px) {

.media-gallery img {
  width: 159.73px;
  height: 163.49px;
}
.media-section-redirect a {
margin-left: 501px;
}
}
@media (max-width: 768px) {
  .branches-container {
    padding: 0 50px;
  }

  .branches-heading {
    font-size: 20px;
  }

  .branches-row {
    gap: 15px;
  }

  .branch-card {
    max-width: 100%;
  }

  .branch-card h3 {
    font-size: 17px;
  }

  .branch-card p {
    font-size: 18px;
  }

  .branch-slider-buttons {
    right: 20px;
    bottom: -60px;
  }

  .branch-slider-button-left,
  .branch-slider-button-right {
    width: 40px;
    height: 40px;
  }

  .contact-social-section-heading {
    font-size: 20px;
  }
  .media-section-heading{
    margin-bottom: -10px;
    font-size: 18px;
  }

  .media-gallery {
    flex-direction: row;
    gap: 20px;
  }

  .media-gallery img {
    width: 23%;
    height: auto;
    border-radius: 0px;
  }

  .media-section-redirect a {
    margin-left: 0;
    font-size: 12px;
  }

  .contact-footer-text {
    font-size: 20px;
  }
}

/* For screens smaller than 425px */
@media (max-width: 428px) {
  .branches-container {
    padding: 0 30px;
  }

  .branches-heading {
    font-size: 18px;
  }

  .branches-row {
    gap: 10px;
  }

  .branch-card {
    max-width: 90%;
  }

  .branch-card h3 {
    font-size: 18px;
  }

  .branch-card p {
    font-size: 16px;
  }

  .branch-slider-buttons {
    right: 10px;
    bottom: -60px;
  }

  .branch-slider-button-left,
  .branch-slider-button-right {
    width: 35px;
    height: 35px;
  }

  .branch-slider-button-left svg,
  .branch-slider-button-right svg {
    width: 12px;
    height: 20px;
  }

  .contact-social-section-heading {
    font-size: 18px;
  }

  .media-gallery img {
    width: 21%;
  }

  .contact-footer-text {
    font-size: 18px;
  }
  .icon-container {
    width: 30px;
    height:30px;
  }
  .social-link span {
    font-size: 10px;
  }
}
@media (max-width: 415px) {
  .media-gallery img {
    width:18%;
  
}
}

/* For screens smaller than 375px */
@media (max-width: 376px) {
  .branches-container {
    padding: 0 20px;
  }

  .branches-heading {
    font-size: 16px;
  }

  .branches-row {
    gap: 10px;
  }

  .branch-card {
    max-width: 90%;
  }

  .branch-card h3 {
    font-size: 16px;
  }

  .branch-card p {
    font-size: 14px;
  }

  .branch-slider-buttons {
    right: 5px;
    bottom: -60px;
  }

  .branch-slider-button-left,
  .branch-slider-button-right {
    width: 32px;
    height: 32px;
  }

  .branch-slider-button-left svg,
  .branch-slider-button-right svg {
    width: 10px;
    height: 18px;
  }

  .contact-social-section-heading {
    font-size: 16px;
  }

  .media-gallery img {
    width: 22%;
  }

  .contact-footer-text {
    font-size: 16px;
  }
  .icon-container {
    width: 18px;
    height:30px;
  }
  .social-link span {
    font-size: 12px;
  }
}
@media (max-width: 360px) {
  .media-gallery {
    margin-left: -37px;
    gap:8px;
}
.media-gallery img {
  width: 20%;
}
}

/* For screens smaller than 320px */
@media (max-width: 321px) {
  .branches-container {
    padding: 0 15px;
  }

  .branches-heading {
    font-size: 14px;
  }

  .branches-row {
    gap: 5px;
  }

  .branch-card {
    max-width: 90%;
  }

  .branch-card h3 {
    font-size: 14px;
  }

  .branch-card p {
    font-size: 12px;
  }

  .contact-social-section-heading {
    font-size: 14px;
  }

  .media-gallery img {
    width: 20%;
  }

  .contact-footer-text {
    font-size: 14px;
  }
  .icon-container {
    width: 20px;
    height:30px;
  }
  .social-link span {
    font-size: 10px;
  }
}

/* Full HD: 1920px */
@media (min-width: 1920px) {
  .branches-container {
    padding: 0 132px;
  }

  .branches-heading {
    font-size: 29px;
    margin-left: 9.6%;
  }

  .branch-card h3 {
    font-size: 29px;
  }

  .branch-card p {
    font-size: 26px;
  }

  .contact-social-section-heading {
    font-size: 29px;
  }

  .icon-container {
    width: 60px;
    height: 60px;
  }

  .icon-container i {
    font-size: 24px;
  }

  .social-link span {
    font-size: 26px;
  }

  .media-section-heading {
    font-size: 29px;
  }

  .media-section-redirect a {
    font-size: 24px;
    margin-left: 1199px;
  }

  .media-gallery {
    gap: 42px;
  }

  .media-gallery img {
    width: 331px;
    height: 308px;
  }

  .contact-footer-text {
    font-size: 29px;
  }
}

/* 2K: 2560px */
@media (min-width: 2560px) {
  .branches-container {
    padding: 0 165px;
  }

  .branches-heading {
    font-size: 36px;
    margin-left: 10%;
  }

  .branch-card h3 {
    font-size: 36px;
  }

  .branch-card p {
    font-size: 33px;
  }

  .contact-social-section-heading {
    font-size: 36px;
  }

  .icon-container {
    width: 75px;
    height: 75px;
  }

  .icon-container i {
    font-size: 30px;
  }

  .social-link span {
    font-size: 33px;
  }

  .media-section-heading {
    font-size: 36px;
  }

  .media-section-redirect a {
    font-size: 30px;
    margin-left: 1499px;
  }

  .media-gallery {
    gap: 53px;
  }

  .media-gallery img {
    width: 414px;
    height: 385px;
  }

  .contact-footer-text {
    font-size: 36px;
  }
}

/* 4K: 3840px */
@media (min-width: 3840px) {
  .branches-container {
    padding: 0 220px;
  }

  .branches-heading {
    font-size: 48px;
    margin-left: 10.67%;
  }

  .branch-card h3 {
    font-size: 48px;
  }

  .branch-card p {
    font-size: 44px;
  }

  .contact-social-section-heading {
    font-size: 48px;
  }

  .icon-container {
    width: 100px;
    height: 100px;
  }

  .icon-container i {
    font-size: 40px;
  }

  .social-link span {
    font-size: 44px;
  }

  .media-section-heading {
    font-size: 48px;
  }

  .media-section-redirect a {
    font-size: 40px;
    margin-left: 1999px;
  }

  .media-gallery {
    gap: 70px;
  }

  .media-gallery img {
    width: 552px;
    height: 514px;
  }

  .contact-footer-text {
    font-size: 48px;
  }
}