.coursehero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  flex-direction: column;
  gap: 10px;

}
.coursehero-sub-container{
  display: flex;
  flex-direction: row;
  margin-top: -80px;
} 
.coursehero-content {
  flex: 1;
  max-width: 50%;
  margin-left: 80px;
  margin-top: 129px;
}
.coursehero-pagename {
  font-size: 24px;
  color: #455a64;
  font-family: geologica;
  margin-bottom: 8px; 
  position: relative;
  top: -18px;
  margin-right: 1089px; 
}

.coursehero-pagename span a{
  color: #f58634;
}

.coursehero-pagename a {
  text-decoration: none;
  color:  #455a64;
  margin: 0 5px;
}

.coursehero-headline1{
  font-size: 50px;
  font-weight: 400;
  color: #455a64;
  font-family: Lilita One;
  margin: 0 0 -155px 0; /* Reduced margin-bottom for closer spacing */
}

.coursehero-headline2 span {
  color: #f58634;
  font-size: 80px;
  font-family: lilita one;
  margin-bottom: 30px;
}

.coursehero-headline2  {
  color: #455a64;
  font-size: 80px;
  font-family: lilita one;
  font-weight: 400;
}

.coursehero-subheadline {
  font-size: 24px;
  font-weight: 400;
  font-family: "geologica";
  color: #343434;
  margin: 2px 0; 
}

.coursehero-description {
  font-size: 22px;
  color: #455a64;
  font-style: Geologica;
  font-weight: 100;
  line-height: 1.4; 
  margin-top: 8px; 
}

.coursehero-image {
  flex: 1;
  max-width: 45%;
  display: flex;
 
  align-items: center;
  margin-right: 120px;
}

.coursehero-image img {
  height: 596px;
  width: 644px;
  margin-right: 30px;
  transition: transform 0.3s ease
}

.coursehero-image img:hover {
  transform: translateY(-10px);
  }
  
 /* For small desktops (1024px) */
  @media (min-width: 769px) and (max-width: 1024px) { 
     .coursehero-container {
      flex-direction: column;
      padding: 20px;
    }
    .coursehero-sub-container {
     
      margin-top: -16px;
      margin-left: -125px;
      display: flex;
      flex-direction: row;

  }
    
    .coursehero-content {
      max-width: 10%;
      margin-left: 651px;
      margin-top: 0;
    }
    .coursehero-pagename {
      margin-right: 526px;
      margin-bottom: 95px;
    }
    .coursehero-headline1{
      margin-bottom: -6px;
      margin-top: -45px;
      font-size: 40px;
    }
    .coursehero-headline2 {
      font-size: 40px;
      margin-bottom: 5px;
      margin-top: -46px;
  
    }
    
    .coursehero-description {
      font-size: 22px;
    }
    
    .coursehero-image img {
      height: 491px;
      width: 416px;
    }

   
  }
     /* For tablets (768px) */
     @media (min-width: 426px) and (max-width: 768px) {
      .coursehero-container {
        padding: 40px;
        gap: 15px;
      }
      .coursehero-pagename {
        top: -13px;
        font-size: 14px;
        margin-right: 562px;
        margin-left: -17px;
       
      }
      .coursehero-sub-container {
        margin-top: -71px;
        gap: 48px;
        flex-direction: rows;
        width:100%;
    }
      
      .coursehero-content {
        max-width: 50%;
        margin-top: -37px;
        margin-left: -13px;
    }
      
      .coursehero-headline1{
        font-size: 31px;
        text-align: left;
        margin-top: 116px;
        /* margin-left: 55px;  */
      }
      .coursehero-headline2 {
        font-size: 36px;
        text-align: center;
        margin-top: 117px;
        margin-left: -2px;
      }
      .coursehero-headline2 span {
        font-size: 45px;
        margin-left: -14%;
      }
      .coursehero-subheadline {
        font-size: 18px;
        margin: -13px 0px;
    }
      .coursehero-description {
        font-size: 16px;
        line-height: 1.2;
        margin-top: 19px;
      }
      
      .coursehero-image img {
        height: 365px;
        width: auto;
        margin-right: 0;
      }
    }
  
  /* For medium mobile devices (376px - 425px) */
  @media (min-width: 377px) and (max-width: 426px) {
    .coursehero-container {
      padding: 30px;
      gap: 10px;
    }
    .coursehero-sub-container {
      display: flex;
      flex-direction: column-reverse;
      margin-top: -52px;
      width:100%;
  }
    .coursehero-pagename {
      font-size: 16px;
      top: -27px;
      margin-left: -189px;
      margin-right: 9px;
    }
    .coursehero-subheadline {
      font-size: 21px;
      font-weight: 400;
      font-family: "geologica";
      color: #343434;
      margin: 0px 48px;
      text-align: center;
  }
    
    .coursehero-content {
      max-width: 100%;
      margin-left: 0px;
      margin-top: -92px;
    }
    
    .coursehero-headline1 {
      font-size: 30px;
      text-align: center;
      margin-top: 113px;
  }
    .coursehero-headline2 {
      font-size: 30px;
      text-align: center;
      margin-top: 112px;
    }
    .coursehero-headline2 span {
      color: #f58634;
      font-size: 51px;
      font-family: lilita one;
      margin-bottom: 30px;
  }
    
  .coursehero-description {
    font-size: 18px;
    /* line-height: 1.3; */
    margin: 0px 48px;
    text-align: center;
}
    
    .coursehero-image img {
      height: 358px;
      width: 361px; 
    }
  }
  
  @media (min-width:321px) and (max-width: 376px) {
    .coursehero-container {
      padding: 30px;
      gap: 10px;
    }
    .coursehero-sub-container {
      display: flex;
      flex-direction: column-reverse;
      margin-top: -52px;
      width: 100%;
  }
    .coursehero-pagename {
      font-size: 15px;
      top: -15px;
      margin-left: -181px;
      margin-right: 20px;
    } .coursehero-content {
      max-width: 100%;
       margin-left: 0px; 
      margin-top: -92px;
    }
    .coursehero-subheadline {
      font-size: 19px;
      text-align: center;
      margin:2px 22px;
  }
    .coursehero-headline1 {
      font-size: 30px;
      text-align: center;
      margin-top: 93px;
      margin-bottom: -60px;
  }
    .coursehero-headline2 {
      font-size: 30px;
      text-align: center;
    }
    .coursehero-headline2 span {
      color: #f58634;
      font-size: 47px;
      font-family: lilita one;
      margin-bottom: 30px;
  }
    
  .coursehero-description {
    font-size: 17px;
    /* line-height: 1.3; */
    margin: 11px 60px;
    text-align: center;
}
    
    .coursehero-image img {
      height: 290px;
      width: 290px;
      
    }
  }
  @media (max-width: 320px){
    .coursehero-pagename {
      font-size: 15px;
      top: -7px;
      margin-right: 20px;
      margin-left: -153px;
  }
  .coursehero-sub-container {
    display: flex;
    flex-direction: column-reverse;
    margin-top: -52px;
    width:100%;
}
  .coursehero-container {
    padding: 30px;
    gap: 10px;
}

.coursehero-headline1 {
  font-size: 30px;
  text-align: center;
  margin-top: 93px;
  margin-bottom: -60px;
}
.coursehero-content {
max-width: 131%;
 margin-left: 0px; 
margin-top: -92px;
width: 100%;
}
.coursehero-headline2 {
  font-size: 30px;
  text-align: center;
}
.coursehero-headline2 span {
  color: #f58634;
  font-size: 47px;
  font-family: lilita one;
  margin-bottom: 30px;
} 
.coursehero-subheadline {
      font-size: 19px;
      text-align: center;
      margin:2px 0px;
  }
.coursehero-description {
font-size: 17px;
margin: 0px 0px;
text-align: center;
}
.coursehero-image img {
  height: 290px;
  width: 290px;

}
  }