.educator-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
  }
  
  .educator-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
  }
  
  .educator-image-container {
    flex: 1;
  }

  .educator-shape-container {
    flex: 1;
    display: flex;
    padding-right: 100px;
  }
  
  .educator-image {
    width: 546px;
    height: 352px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.educator-image:hover {
transform: translateY(-10px);
}

  .educator-shape {
    width: 228px;
    height: 349.5px;
    border-radius: 0px;
    margin-left: 50px ;
    
  }
  
  .educator-text-container {
    flex: 1;
    text-align: right;
    width: 320px;
  }
  
  .educator-label {
    color: #f58634;
    font-weight: bold;
    margin-bottom: 1rem;
    font-size:24px;
    font-family: geologica;
  }
  
  .educator-heading {
    font-size: 50px;
    color: #455a64;
    margin-bottom: 1rem;
    margin-left: -300px ;
    font-family:lilita one;
  }
  
  .highlight-text {
    color: #f58634; 
    margin-left: -300px ;
    font-size: 50px;
    font-family:lilita one;
  }

  .educator-description {
    font-size: 20px;
    color: #455a64;
    margin-bottom: 2rem;
    line-height: 1.5;
    font-family:geologica;
  }

  .educator-button {
    display: inline-block;
    padding: 10px 20px;
    color: #f58634;
    border: 2px solid #f58634;
    border-radius: 8px;
    text-decoration: none;
    font-size: 19.19px;
    font-family:geologica;
    transition: all 0.3s ease;
  }
  
  .educator-button:hover {
    background-color: #ff7c2e;
    color: #fff;
  }