.investment-requirements {
    padding: 2rem;
    font-family: Geologica;
    color: #333;
    text-align: center;
    display: grid;
    grid-template-rows: auto auto; /* Two rows for heading + content */
    grid-template-columns: 1fr; /* Single column by default */
    justify-items: center;
    align-items: center;
    min-height: 100vh; 
    box-sizing: border-box;
  }
  
  .investment-heading {
    color: var(--primary-orange);
    font-size: 24px;
    margin-bottom: -1rem;
    font-family: Geologica;
  }
  
  .investment-subheading {
    font-size: 50px;
    margin-bottom: 1rem;
    margin-top: -2rem;
    font-family: Lilita One;
    color: var(--primary-grey);
  }
  
  .investment-description {
    font-size: 24px;
    margin-bottom: 4rem;
    margin-top: -4rem;
    color: var(--text-color);
    line-height: 1.5;
    font-family: Geologica;
  }
  
  .investment-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12rem;
    width: 1000px;
    margin-top: -5rem;
  }
  
  .investment-column {
    text-align: left;
    width: 600px;
    margin-left: -80px;
  }
  
  .investment-column h4 {
    font-size: 24px;
    margin-bottom: 1rem;
    font-weight: bold;
    color:var(--topic-color);
    font-family: Geologica;
  }
  
  .investment-column ul {
    list-style: none;
    padding: 0;
  }
  
  .investment-column li {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }
  
  .investment-column li img {
    width: 20px;
    height: 20px;
    margin-right: 0.8rem;
  }
  
  .investment-column li span {
    font-size: 24px;
    color: var(--text-color);
    line-height: 1.5;
  }
  @media (max-width: 1024px) {
    .investment-requirements{
      min-height: 45vh;
    }

  .investment-heading {
    font-size: 16px;
  }
  
  .investment-subheading {
    font-size: 30px;
    margin-top: 20px;
  }
  
  .investment-description {
    font-size: 16px;
    margin-top: 7px;
    margin-bottom: 115px;
  }
  
  .investment-details {
    gap: 5px;
    width: 100%;
    margin-bottom: 110px;
  }
  
  .investment-column {
    width: 128%;
    }
  
  .investment-column h4 {
    font-size: 16px;
    margin-left: 83px;
  }
  .investment-column li img {
    width: 20px;
    height: 20px;
  }
  
  .investment-column li span {
    font-size: 16px;
  }
  .investment-column li{
    margin-left: 5rem;
  }
}
  @media (max-width: 768px){
    .investment-requirements{
      min-height: 45vh;
    }

  .investment-heading {
    font-size: 16px;
  }
  
  .investment-subheading {
    font-size: 30px;
    margin-top: 20px;
  }
  
  .investment-description {
    font-size: 16px;
    margin-top: 7px;
    margin-bottom: 115px;
  }
  
  .investment-details {
    gap: 5px;
    width: 100%;
    margin-bottom: 110px;
  }
  
  .investment-column {
    width: 128%;
    }
  
  .investment-column h4 {
    font-size: 16px;
    margin-left: 83px;
  }
  .investment-column li img {
    width: 20px;
    height: 20px;
  }
  
  .investment-column li span {
    font-size: 16px;
  }
  .investment-column li{
    margin-left: 5rem;
  }
}
@media (max-width: 450px) {
  .investment-requirements {
    padding: 2rem;
    grid-template-columns: 1fr; /* Single column layout */
  }
  .investment-heading {
    font-size: 18px;
  }
  .investment-subheading{
    font-size: 50px;
  }
  .investment-description {
    font-size: 18px;
    margin-top: 7px;
    margin-bottom: 1px;
  }
  .investment-column h4 {
    font-size: 18px;
    margin-left: 70px;
  }
  .investment-column li{
    margin-left: 10px;
  }

  .investment-details {
    grid-template-columns: 1fr; /* Single column layout */
    gap: 1px;
    margin: 0;
  }

  .investment-column {
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 377px) {
  .investment-requirements {
    padding: 1rem;
   }

  .investment-heading {
    font-size: 16px;
  }

  .investment-subheading {
    font-size: 30px;
  }

  .investment-description {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 1px;
  }

  .investment-column h4 {
    font-size: 18px;
    margin-left: 60px;
  }

  .investment-column li {
    margin-left: 5px;
  }

}
@media (max-width: 321px) {
  .investment-requirements {
    padding: 1rem;
    grid-template-columns: 1fr; /* Single column layout */
  }

  .investment-heading {
    font-size: 14px;
  }

  .investment-subheading {
    font-size: 33px;
  }

  .investment-description {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 1px;
  }

  .investment-column h4 {
    font-size: 16px;
    margin-left: 40px;
  }

  .investment-column li {
    margin-left: 3px;
  }
}