.franchise-ourstory {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px;
  
  background: var(--bg-gradient);
} 
.franchise-ourstory-container{
  padding: 10px;
  background: var(--bg-gradient);
}
.franchise-ourstory-text {
  text-align: center;
  margin-bottom: 20px; 
  margin-top: 10px;
}

.franchise-ourstory-text h2 {
  font-size: 24px;
  font-weight: regular;
  color: #f58634;
  margin-bottom: -17;
  font-family:Geologica;
}

.franchise-ourstory-text h3 {
  font-size: 50px;
  font-weight: regular;
  color: #455a64;
  margin-top: -5px;
  font-family: Lilita One;
}

.franchise-ourstory-text p {
  font-size: 1rem;
  max-width: 800px;
  color: #455a64;
  margin: 10px auto;
  margin-top: -35px;
  font-family: Geologica;
}


.franchise-timeline {
  display: flex;
   justify-content: center;
  gap: 20px;  
  flex-wrap: wrap;
}

.franchise-timeline-card {
  width: 263px;
  height: 245px;
  background-color:#f5f5f5;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  position: relative;
  transition: transform 0.3s;
}
.franchise-timeline-card-icon{
top: 10px;
}
.franchise-timeline-card-content{
padding: 10px;
}


.franchise-timeline-card:hover {
  transform: translateY(-10px);
}

.franchise-timeline-icon {
  width: 51.77px;
  height: 46.04px;
  object-fit: contain;
  margin-bottom: -18px;
  margin-top: 18px;
}

.franchise-timeline-card h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: -18px;
  font-family:Geologica;
  font-weight: 400;

}

.franchise-timeline-card p {
  font-size: 14.82px;
  font-family: Geologica;
  font-weight: 200;
  color: #777;
  margin-bottom: -10px;
}

@media (max-width: 1024px) {
.franchise-ourstory-text h2 {
    font-size: 26px;
}
.franchise-ourstory-text h3 {
    font-size: 44px;
}
.franchise-ourstory-text p {
    font-size: 1.3rem;
}
.franchise-timeline-card h3 {
    font-size: 22px;
}
.franchise-timeline-card p {
    font-size: 14px;
}
}

@media (max-width: 768px) {
.franchise-ourstory-text h2 {
    font-size: 24px;
}
.franchise-ourstory-text h3 {
    font-size: 42px;
}
.franchise-ourstory-text p {
    font-size: 1.2rem;
}
.franchise-timeline-card h3 {
    font-size: 20px;
}
.franchise-timeline-card p {
    font-size: 13px;
}
}

@media (max-width: 426px) {
.franchise-timeline-card {
  width: 199px;
  height: 202px;
}
.franchise-ourstory-text h2 {
    font-size: 22px;
}
.franchise-ourstory-text h3 {
    font-size: 40px;
}
.franchise-ourstory-text p {
    font-size: 1.1rem;
}
.franchise-timeline-card h3 {
    font-size: 18px;
}
.franchise-timeline-card p {
    font-size: 12px;
}
}

/* For screens 376px and smaller */
@media (max-width: 376px) {
.franchise-ourstory-text h2 {
    font-size: 20px;
}
.franchise-ourstory-text h3 {
    font-size: 38px;
}
.franchise-ourstory-text p {
    font-size: 1rem;
}
.franchise-timeline-card h3 {
    font-size: 16px;
}
.franchise-timeline-card p {
    font-size: 11px;
}
}

/* For screens 320px and smaller */
@media (max-width: 320px) {
.franchise-timeline-card {
  width: 199px;
  height: 177px;
}
.franchise-ourstory-text h2 {
    font-size: 18px;
}
.franchise-ourstory-text h3 {
    font-size: 36px;
}
.franchise-ourstory-text p {
    font-size: 0.9rem;
}
.franchise-timeline-card h3 {
    font-size: 14px;
}
.franchise-timeline-card p {
    font-size: 10px;
}
}