.franchisehero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    gap: 10px;
    /* background: linear-gradient(to right, #fff, #ffe6cc); */
    background: linear-gradient(to right, #fff, #fff6eb); 
  }
  
  .franchisehero-content {
    flex: 1;
    max-width: 50%;
    margin-left: 135px;
  }
  
  /* Move pagename to the top with reduced margin */
  .franchisehero-pagename {
    font-size: 24px;
    color: #888;
    margin-top: 0; /* Remove any unnecessary space above */
    margin-bottom: 8px; /* Slight gap to the next element */
    position: relative;
    top: -37px; /* Adjust the vertical positioning */
  }
  
  .franchisehero-pagename span {
    color: #ff6600;
  }
  
  .franchisehero-headline1{
    font-size: 30px;
    font-weight: bold;
    color: #333;
    font-family: "Lilita One";
    margin: 0 0 -155px 0; /* Reduced margin-bottom for closer spacing */
  }
  
  .franchisehero-headline2 span {
    color: #ff6600;
    font-size: 80px;
    margin-bottom: 10px;
  }
  
  .franchisehero-headline2  {
    color: #333;
    font-size: 80px;
  }
  
  .franchisehero-subheadline {
    font-size: 24px;
    font-weight: 400;
    font-style: "geologica";
    color: #555;
    margin: 8px 0; /* Reduced margin for closer spacing */
    margin-top: -25px;
  }
  
  /* .franchisehero-description {
    font-size: 22px;
    color: #666;
    font-style: "geologica";
    font-weight: 100;
    line-height: 1.4;
    margin-top: 8px; 
  } */
  
  .franchisehero-image {
    flex: 1;
    max-width: 45%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-right: 120px;
  }
  
  .franchisehero-image img {
    /* max-width: 100%; */
    /* border-radius: 68px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
    height: 486.53px;
    width:496px;
    margin-right: 50px;
  }
  .franchisehero-button {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 20px 16px; 
    background-color: #f58634;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    font-size: 19.19px;
    width: 368px; 
    height: 56px; 
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    /* box-shadow: 0 0 10px rgba(255, 124, 46, 0.6); */
}
  
.franchisehero-button:hover {
    background-color: #f58634;
    box-shadow: 0 0 20px rgba(255, 124, 46, 0.8);
}