.franchisehero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  flex-direction: column;
  gap: 10px;
}
.franchisehero-sub-container{
  display: flex;
  flex-direction: row;
  margin-top: -16px;
} 
.franchisehero-content {
  flex: 1;
  max-width: 50%;
  margin-left: 83px;
  margin-top: 47px;

}

.franchisehero-pagename {
  font-size: 24px;
  color: #455A64;
  font-weight: 400;
  font-family: Geologica;
  margin-top: 0;
  margin-bottom: 45px; 
  position: relative;
  top: -5px;
  margin-left: -426px;
  margin-right: 666px;
}

.franchisehero-pagename span {
  color: #f58634;
}

.franchisehero-headline1{
  font-size: 30px;
  color: #455A64;
  font-family: Lilita One;
  margin: 0 0 -140px 0; 
}

.franchisehero-headline2 span {
  color: #f58634;
  font-size: 80px;
  margin-bottom: 10px;
  font-family: Lilita One;
}

.franchisehero-headline2  {
  color: #455A64;
  font-size: 80px;
  font-family: Lilita One;
  line-height: 85px;
}

.franchisehero-subheadline {
  font-size: 24px;
  font-weight: 400;
  font-family: Geologica;
  color: #343434;
  margin: 8px 13px;
  margin-top: -25px;
}

.franchisehero-image {
  flex: 1;
  max-width: 50%;
  display: flex;
  align-items: center;
  margin-left:100px;
}

.franchisehero-image img {
  height: 486.53px;
  width:496px;
  margin-right: 50px;
  margin-top: 65px;
  transition: transform 0.3s ease;
}

.franchisehero-image img:hover {
transform: translateY(-10px);
}

.franchisehero-button {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  padding: 20px 16px; 
  background-color: #f58634;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  font-size: 19.19px;
  width: 368px;
  height: 56px;
  transition: background-color 0.3s ease;
  box-sizing: border-box;

}

.franchisehero-button:hover {
  background-color: #f58634;
  box-shadow: 0 0 20px rgba(255, 124, 46, 0.8);
}

/* Responsive styles for .franchisehero */
@media (max-width: 1024px) {
  .franchisehero-container {
    padding: 30px;
    gap: 20px;
  }

  .franchisehero-content {
    max-width: 60%;
    margin-left: 0;
    margin-top: 30px;
  }

  .franchisehero-image {
    max-width: 40%;
    margin-left: 0;
  }

  .franchisehero-headline1 {
    font-size: 28px;
    margin-bottom: -120px;
  }

  .franchisehero-headline2 {
    font-size: 70px;
    line-height: 75px;
  }

  .franchisehero-headline2 span {
    font-size: 70px;
  }

  .franchisehero-subheadline {
    font-size: 22px;
  }

  .franchisehero-pagename {
    font-size: 22px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }

  .franchisehero-image img {
    height: 400px;
    width: auto;
  }
}

@media (max-width: 768px) {
  .franchisehero-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }
  .franchisehero-pagename {
    font-size: 13px;
  }
 .franchisehero-sub-container{
  margin-top: -85px;
 }
  .franchisehero-content {
    max-width: 100%;
    margin-top:111px
  }

  .franchisehero-image {
    max-width: 50%;
    margin-left: 0;
  }

  .franchisehero-image img {
    height: 350px;
    width: auto;
  }

  .franchisehero-headline1,
  .franchisehero-headline2,
  .franchisehero-headline2 span {
    font-size:35px;
  }
  .franchisehero-headline2 {
    line-height: 49px;
    margin-top: 71px;
}
.franchisehero-button {
  width: 247px;
    height: 42px;
}

  .franchisehero-subheadline {
    font-size: 15px;
    margin-left: -1px;
  }
}

@media (max-width: 426px) {
  .franchisehero-container {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }
.franchisehero-sub-container{
  display: flex;
  flex-direction: column-reverse;
}
  .franchisehero-content {
    max-width: 100%;
    text-align: center;
    margin-top: 50px;
  }

  .franchisehero-image {
    max-width: 100%;
    margin-left: 54px;
  }

  .franchisehero-image img {
    height: 300px;
    width: auto;
  }

  .franchisehero-headline1,
  .franchisehero-headline2,
  .franchisehero-headline2 span {
    font-size: 42px;
  }

  .franchisehero-subheadline {
    font-size: 18px;
  }

  .franchisehero-pagename {
    font-size: 18px;
    margin-bottom: 30px;
    margin-left: -173px;
    margin-right: 63px;
  }

  .franchisehero-button {
    margin-left: 74px;
    width: 64%;
    font-size: 16px;
  }
}

@media (max-width: 376px) {
  .franchisehero-pagename {
    margin-left: -128px;
  }
  .franchisehero-image img {
    height: 250px;
  }

  .franchisehero-headline1,
  .franchisehero-headline2,
  .franchisehero-headline2 span {
    font-size: 37px;
  }

  .franchisehero-subheadline {
    font-size: 18px;
  }

  .franchisehero-button {
    padding: 12px;
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .franchisehero-image img {
    height: 200px;
  }
  .franchisehero-pagename {
    margin-left: -76px;
  }
  .franchisehero-content{
    margin-top: 37px !important;
  }
  .franchisehero-headline1,
  .franchisehero-headline2,
  .franchisehero-headline2 span {
    font-size: 30px;
  }
  .franchisehero-headline2 {
    line-height: 40px;
    margin-top: 81px;
}
  .franchisehero-subheadline {
    font-size: 14px;
    margin-top: -15px;
  }

  .franchisehero-button {
    padding: 10px;
    font-size: 12px;
    margin-left: 58px;
  }
}