/* General Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 110px;
  background: linear-gradient(to right, #fff, #fef6f0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #e0e0e0;
  position: sticky;
  top: 0;
  z-index: 1000;
  font-family: 'Arial', sans-serif;
  height: 102px;
}

/* Logo */
.logo img {
  width: 86px;
  height: 102px;
}

.nav {
  display: flex;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 48px;
  margin-left: 263px;
  padding: 0;
  align-items: center;
}

.nav li {
  font-size: 18.52px;
  font-weight: bold;
}

.nav a {
  text-decoration: none;
  color: #4a4a4a;
  transition: color 0.3s;
}

.nav a.active,
.nav a:hover {
  color: #ff6600;
}

/* Contact Us Button */
.contact-us {
  padding: 20px 16px;
  border: 2px solid #f58634;
  background: none;
  border-radius: 8px;
  color: #f58634;
  font-size: 16px;
  width: 140px;
  height: 56px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.contact-us:hover {
  background: #f58634;
  color: #fff;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #4a4a4a;
  transition: all 0.3s;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* tab View Styles  */
@media (max-width: 768px) {
  .header {
    padding: 10px 18px;
    height: 70px;
  }

  .nav ul {
    gap:19px;
    margin-left: 45px;
  }

  .nav li {
    font-size: 12px;
  }

  .logo img {
    width: 35%;
    height: auto;
  }

  .contact-us {
    padding: 0.2px 1px;
    font-size: 0.9rem;
    width: 117px;
    height: 35px;
  }
}

/* mobile view*/
@media (max-width: 426px) {
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    background: #fff;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    transition: left 0.3s ease-in-out;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1100;
  }

  .nav.active {
    left: 0;
  }

  .nav ul {
    flex-direction: column;
    gap: 20px;
  }

  .hamburger {
    display: flex;
  }

  /* Overlay */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    z-index: 1099;
  }

  .overlay.active {
    opacity: 1;
    visibility: visible;
  }
}
