/* Hero Section Styling */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background:var(--bg-gradient);
}

.hero-content {
  max-width: 600px;
  padding-left: 100px;
  padding-top: 30px;
}

.hero-heading {
  font-size: 50px;
  font-weight: 400;
  color: var(--primary-grey);
  margin: 0;
  font-family: lilita one;
}

.hero-heading span {
  font-size: 80px;
  color: var(--primary-orange);
  font-family: lilita one;
  font-weight: 400;
}

.hero-subtitle {
  font-size: 24px;
  font-weight: 400;
  color: var(--highlight-color);
  margin: 10px 0;
  font-family: Geologica;
}

.hero-description {
  font-size: 22px;
  color: var(--primary-grey);
  line-height: 1.6;
  font-family: Geologica;
  font-weight: 100;
}

.hero-buttons {
  margin: 40px 0;
}

.explore-btn,
.opportunity-btn {
  margin-right: 15px;
  font-size: 19.19px;
  font-weight: 400;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}

.explore-btn {
  background-color: var(--bg-color);
  border: 2px solid var(--primary-orange);
  color: var(--primary-orange);
  transition: all 0.3s ease;
  font-family: geologica;
    padding: 15px 38px;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(255, 124, 46, 0.6);


}

.explore-btn:hover {
  background-color: var(--primary-orange);
  color: #f5f5f5;
}

.opportunity-btn {
  background-color: var(--primary-orange);
  color: #f5f5f5;
  /* width: 235px;
  height: 56px; */
  border: 2px solid var(--primary-orange);
  transition: all 0.3s ease;
  font-family: geologica;
    padding: 15px 50px;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(255, 124, 46, 0.6);
}

.opportunity-btn.glow {
  box-shadow: 0 0 10px var(--primary-orange);
  animation: glowing 1.5s infinite alternate;
}

.hero-stats {
  display: flex;
  align-items: center;
  margin-top: -70px;
}
.hero-stats .stats-images {
  position: relative;
  width:50px;
  height: 50px;
}

.hero-stats img {
  position: absolute;  
  width: 50px;  
  height:50px;
}

.hero-stats img:nth-child(1) {
  top: 0;
  left: 0;
}

.hero-stats img:nth-child(2) {
  left: 30px;
}

.hero-stats img:nth-child(3) {
    left: 60px;
}
.hero-stats img:nth-child(4) {
  left: 90px;
}
.hero-stats img:nth-child(5) {
  left: 120px;
}


.stats-images img {
  width: 44.5px;
  height: 44.5px;
  margin-right: 5px;
}

.stats-text {
  font-size: 30px;
  color: var(--highlight-color);
  font-family: lilita one;
  line-height: 30px;
  margin-left: 170px;

}

.highlight {
  color: var(--primary-orange);
  font-weight: 400;
  font-size: 24px;
  font-family: geologica;
}

.opportunity-note{
  font-size: 20px;
  font-family: lilita one;
  font-weight: 400;
  color: var(--highlight-color);
  margin-top: -60px;
}

.note-highlight {
  color: var(--primary-orange);
}

/* Hero Image Layout */
.hero-image {
  position: relative;
  width: 600px; 
  height: 600px; 
  margin-left: 10px;
  padding-right: 90px;
}

/* Brain Layout Container */
.brain-layout {
  position: relative;
  width: 600px;
  height: 600px;
  top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brain-right {
  position: absolute;
  width: 163.14px;
  height: 390.63px;
  top: 100px;
  right: 125px;
  animation: slideInRight 1s ease-in-out, moveUpDown 1.5s ease-in-out infinite 1s;
  transition: transform 0.3s ease-in-out; 
}

.brain-left {
  position: absolute;
  width: 163.14px;
  height: 390.63px;
  top: 100px;
  left: 135px;
  animation: slideInLeft 1s ease-in-out, moveUpDown 1.5s ease-in-out infinite 1s;
  transition: transform 0.3s ease-in-out; 
}

/* Hover Effect for Brain Images */
.brain-right:hover,
.brain-left:hover {
  transform: translateY(-2%) scale(1.02);
}


/* Icons around the brain */
.brain-icon {
  position: absolute;
  width: 50px; /* Set size for icons */
  height: auto;
  opacity: 0;
  animation: fadeIn 1.2s ease forwards;
}

/* Position-specific icons */
.bulb {
  width: 83.4px;
  height: 105.83px;  
  top: 245px;
  left: 48px;
  animation: slideInLeft 1.2s ease forwards;
}

.symbol {
  width: 64.82px;
  height: 63.14px;
  bottom: 115px;
  left: 93px;
  animation: slideInLeft 1.4s ease forwards;
}

.puzzle1 {
  width: 81.16px;
  height: 88.55px;
  top: 225px;
  right: 32px;
  animation: slideInRight 1.2s ease forwards;
}

.puzzle2 {
  top: 80px;
  left: 152px;
  width: 92.86px;
  height: 65.5px;
  animation: slideInLeft 1.6s ease forwards;
}

.pencil {
  bottom: 112px;
  right: 95px;
  width: 133.03px;
  height: 121.02px;
  animation: slideInRight 1.4s ease forwards;
}

.gear{
  width:518.86px;
  height: 512.81px;
}

/* Keyframes for Sideways Animation */
@keyframes slideInLeft {
  0% {
    transform: translateX(-150%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(150%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Keyframes for Fade-In Animation (Optional for opacity only) */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* Wiggle Animation */
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Wiggle Effect on Hover */
.puzzle1:hover,
.puzzle2:hover,
.pencil:hover ,.bulb:hover,
.symbol:hover {
  animation: wiggle 0.5s ease-in-out;
  animation-iteration-count: infinite;
}

/* Image Section Styles */
.image-partner {
  margin-top: 20px; 
  display: flex;
  justify-content: flex-start;
}

.partner-image {
  width: 704px; 
  height: 46px;
  margin-left: -64px; 
  margin-top:-96px;
}
 @media(max-width:1280px){
  .opportunity-btn, .explore-btn{
    padding: 15px 35px;
  }
  .stats-text{
    font-size: 20px;
    margin-top: 38px;
  }
 }

 @media (max-width:1115px){
  .hero-image{
    margin-left: 0px;
    padding-right: 0px;
  }
  .hero-content{
    padding-left: 20px;
  }
  .partner-image{
      width: 600px;
      height: 46px;
      margin-left: -10px;
      margin-top: -96px;
  }
 }

@media(max-width:1024px){
  .opportunity-btn, .explore-btn{
    padding: 15px 17px;
  }
  .hero-heading span{
    font-size: 65px;
  }
}
/* @media (min-width: 426px) and (max-width: 768px){ */
@media (max-width: 840px) {

  .brain-layout {
    width: 100%;
    height: 350px;
  }

  /* Hero Section */
  .hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  /* Hero Image at the Top */
  .hero-image {
    order: 1;
    max-width: 450px;
    height: 450px;
    /* margin-left: 100px; */
  }

  /* Hero Content Below the Image */
  .hero-content {
    order: 2; 
    text-align: center; 
    width: 100%;
    /* margin-right: 100px; */
    margin-top:50px;
  }

  .hero-heading {
    font-size: 80px;
  }

  .hero-heading span {
    font-size: 80px;
  }

  .hero-subtitle {
    font-size: 40px;
    margin-top: 10px;
  }

  .hero-description {
    font-size: 23px;
    margin-top: 10px;
    line-height: 1.2;
  }

  .hero-buttons {
    margin-top: 20px;
    flex-direction: column;
    gap: 15px; 
  }

  /* .explore-btn,
  .opportunity-btn {
    width: 250px; 
    height: 70px;
  } */
  
  .stats-images img {
    width: 70px;
    height: 70px;
    margin-left: 30px;
    margin-top:-20px;
  }
  .hero-stats {
    margin-top: -35px;
    flex-direction: row;
  }
  .hero-stats .stats-text h1{
    margin-left: 85px;
    font-size: 39px;
}

.hero-stats .stats-text .highlight{
  margin-left: 0;
  font-size: 23px;
}

.opportunity-note{
  font-size: 20px;
}
    /* Brain Layout Container */
    .brain-layout {
      position: relative;
      width: 100%; 
      height: 350px;
      top: -20px; 
      display: flex;
      flex-wrap: wrap; 
      justify-content: center; 
      align-items: center;
      padding: 20px 0; 
    }
  
    .brain-left,
    .brain-right {
      width: 175px; 
      height: 400px;
    }
  
    .brain-left {
      left: 45px; 
      top:90px;
    }
  
    .brain-right {
      right: 50px;
      top:95px; 
    }
  
    /* Adjust Hover Effect */
    .brain-left:hover,
    .brain-right:hover {
      transform: translateY(-3%) scale(1.05); 
    }
  
    /* Brain Icons */
    .brain-icon {
      width: 35px; 
      height: auto; 
      opacity: 1; 
    }
  
   
    .bulb {
      width: 80px;
      height: auto;
      top: 230px;
      left: -50px; 
    }
  
    .symbol {
      width: 80px;
      height: auto;
      top: 400px;
      left: 0px;
    }
  
    .puzzle1 {
      width: 80px;
      height: auto;
      top: 195px;
      right: -25px;
    }
  
    .puzzle2 {
      top: 53px;
      left: 75px;
      width: 100px;
      height: auto;
    }
  
    .pencil {
      top: 365px;
      right: 5px;
      width: 120px;
      height: auto;
    }
  
    .gear {
      width: 450px; 
      height: 450px; 
      top:40px
    }

    .partner-image {
      width: 400px;
      height: 35px;
      margin-left: 25px;
      margin-top: 75px;
    }
  }

@media (max-width: 450px) {

  .brain-layout {
    width: 151%;
    height: 350px;
    margin-left: -58px;
  }
  .hero-image {
    order: 1;
    width: 58%;
    height: 350px;
    margin-left: 0px;
  }
  .hero-content {
    order: 2; 
    text-align: center; 
    width: 100%;
    margin-right: 0px;
  }

  .hero-heading {
    font-size: 50px;
  }

  .hero-heading span {
    font-size: 45px;
  }

  .hero-subtitle {
    font-size: 22px;
  }

  .hero-description {
    font-size: 13px;
  }

  .hero-buttons {
    margin-top: 20px;
    gap: 15px;
    display: flex;
  }

  .explore-btn,
  .opportunity-btn {
    font-size: 16px;
  }
  
  .hero-stats {
    margin-top: -20px;
  }
  .hero-stats .stats-text h1{
    margin-left: -20px;
    font-size: 18px;
}

.hero-stats .stats-text .highlight{
  margin-left: -66px;
  font-size: 16px;
}
.stats-images img {
  width: 40px;
  height: 40px;
  margin-left: 0px;
  margin-top: -10px;
}
.opportunity-note{
  font-size: 18px;
}
    .brain-left,
    .brain-right {
      width: 80px; 
      height: auto; 
      top: 0; 
    }
  
    .brain-left {
      left: 84px; 
      top:80px;
    }
  
    .brain-right {
      right: 85px;
      top:80px; 
    }
    .brain-icon {
      width: 35px;
    }

    .bulb {
      width: 40px;
      top: 140px;
      left: 30px; 
    }
  
    .symbol {
      width: 35px;
      top: 240px;
      left: 55px;
    }
  
    .puzzle1 {
      width: 50px;
      top: 150px;
      right: 35px;
    }
  
    .puzzle2 {
      top: 55px;
      left: 100px;
      width: 60px;
    }
  
    .pencil {
      top: 220px;
      right: 73px;
      width: 50px;
    }
  
    .gear {
      width: 320px; 
      height: 320px; 
    }
    .partner-image {
      width: 280px;
      height: 20px;
      margin-left: -31px;
      margin-top: -60px;
    }

    .puzzle1:hover,
.puzzle2:hover,
.pencil:hover ,.bulb:hover,
.symbol:hover {
  animation: none;
  animation-iteration-count: none;
}
}

@media (max-width: 415px) and (min-width: 412px){
  .hero-content{
    margin-top: 8px;
  }
  .brain-layout {
    width: 202%;
    height: 350px;
    margin-left: -100px;
  }
  .hero-image {
    order: 1;
    width: 50%;
    height: 350px;
  }
  .explore-btn, .opportunity-btn {
    padding: 15px 25px;
    font-size: 12px;
  }
  .brain-left,
    .brain-right {
      width: 100px;
    }
}

@media (max-width:394px) {
  .brain-layout {
    width: 164%;
    height: 350px;
    margin-left: -66px;
  }
  .explore-btn,
  .opportunity-btn {
    padding: 12px 22px;
  }
}
@media (max-width: 376px) {
  .brain-layout {
    width: 170%;
    height: 350px;
    margin-left: -70px;
  }
  .explore-btn,
  .opportunity-btn {
    font-size: 8px;
  }
  .hero-image {
    order: 1;
    width: 60%;
    height: 350px;
  }
}
@media (max-width:361px) {
  .hero-content{
    margin-top: 8px;
  }
  .brain-layout {
    width: 210%;
    height: 350px;
    margin-left:-85px;
  }
  .hero-image {
    order: 1;
    width: 50%;
    height: 350px;
  }
  .explore-btn, .opportunity-btn {
    padding: 10px 18px;
    font-size: 12px;
  }
  .partner-image{
    margin-left: -62px;
  }
  .hero-stats .stats-text h1 {
    margin-left: -37px;
  }
}

@media (max-width: 321px) {
  .hero-content{
    margin-top: 8px;
  }
  .brain-layout {
    width: 106%;
    height: 350px;
    margin-left: -15px;
  }
  .hero-image {
    order: 1;
    width: 112%;
    height: 350px;
    margin: 0px;
    padding: 0px;
  }
  
  .explore-btn, .opportunity-btn {
    padding: 12px 17px;
    font-size: 12px;
}
.stats-text{
  line-height: 20px;
  margin-left: 140px;
}
.hero-stats .stats-text .highlight{
  margin-left: -66px;
  font-size: 14px;
}
.hero-stats .stats-text h1{
  margin-left: -25px;
  font-size: 13px;
}
  .opportunity-note{
    font-size: 15px;
    margin-top: -45px;
  }
  .partner-image {
    margin-left: 24px;
}
}