.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px;
  margin-top: -17px;
}

.testimonial-text {
  text-align: center;
  margin-bottom: 20px; 
}

.testimonial-text h2 {
  font-size: 24px;
  font-weight: 400;
  color: #f58634;
  margin-bottom: 10px;
  font-family: geologica;
}

.testimonial-text h3 {
  font-size: 50px;
  font-weight: regular;
  color: #455a64;
  margin-top: -5px;
  font-family: Lilita One;;
}

.testimonial-text p {
  font-size: 22px;
  max-width: 800px;
  color: #455a64;
  margin: 10px auto;
  margin-top: -35px;
  font-family: geologica;
}

.carousel-container {
  position: relative;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel {
  display: flex
  ;
      /* justify-content: space-between; */
      grid-gap: 30px;
      gap: -42px;
      overflow: hidden;
      transition: all 0.3s ease-in-out;
      height: 300px;
      width: 1200px;
      margin-right: -119px;
}

/* .testimonialcard {
  width: 339px;
  height: 150px;
  background: #fff;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: center;
  border: 2px solid hsl(0deg 12.48% 95.32%);
} */

.testimonialcard {
width: 339px;
height: 207px;
background: #fff;

border-radius: 22px;

position: relative;
text-align: center;
border: 0.1px solid hsl(0deg 12.48% 95.32%);
transition: transform 0.3s ease;
}

.testimonialcard:hover {
transform: translateY(-10px);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonialcard-content {
  display: flex;
  flex-direction: column;
  /* gap: 8px;  */
  padding: 10px 10px;
  margin-top: -12px;
  margin-left: 33px;
}

.testimonialcard-content .quote-icon {
  font-size: 24px;
  color: rgb(45, 14, 168);
  position: absolute;
  top: 8px;
  right: 8px;
}

.author-section {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: -20px;
}
.author-section h4 {
 text-align: center;
 font-size: 22px;
 font-family: "geologica";
 font-weight: 300;
}
.author-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 13px;
}

.rating {
  color: orange;
  margin-top: 4px;
  font-size: 14px;
  margin-top: -26px;
  margin-left: -93px;
}

.testimonialcard p {
  margin-bottom: 6px; 
  font-size: 14.82px;
  line-height: 1.4;
  text-align: left;
  font-weight: 100;
  line-height: 22px;
  font-family: geologica;
}


.top-image {
  position: absolute;
  top: 1px;
  right: 90px;
  width: 8px;
  height: 20px;
  z-index: 5;
}
.top-image img{
width: 44px;
height: 32px;
margin-top: 10px;
margin-left: 31px;
}


.arrow-button {
  position: absolute;
  top: 110px;
  transform: translateY(-50%);
  background: #f58634;
  border: 2px solid #f58634;
  width: 40px; 
  height: 40px; 
  border-radius: 50px; 
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 1;
  color: #f9f9f9;
}

.arrow-button.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.arrow-button:hover {
  background:#f58634;
  color: white;
}

.left-arrow {
  left: -50px;
}

.right-arrow {
  right: -50px;
}

.dots {
  display: flex;
  gap: 8px;
  margin-top: -65px;
}

.dot {
  width: 12px;
  height: 12px;
  background: lightgray;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: -90px;
}

.dot.active {
  background: orange;
}

.arrow-button.highlighted {
  background-color: orange;
  color: white;
}

@media (max-width: 768px) {
  .carousel-container {
    width: 100%;
  }
  .card {
    width: 45%; 
  }
}