.insighthero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  flex-direction: column;
  gap: 10px;
}
.insighthero-sub-container{
  display: flex;
  flex-direction: row;
  margin-top: -30px;
} 
.insighthero-content {
  flex: 1;
  max-width: 50%;
  margin-left: 73px;
  margin-top: 30px;
  width :50%;

}

.insighthero-pagename {
  
  text-align: left;
  font-size: 24px;
  font-family: 'Geologica';
  color: var(--primary-grey);
  margin-bottom: 30px;
  position: relative;
  top: -35px;
  margin-left: -435px;
  margin-right: 666px;
}

.insighthero-pagename span a{
  color: var(--primary-orange);
}

.insighthero-pagename a {
  text-decoration: none;
  color:  var(--primary-grey);
  margin: 0 5px;
}



.insighthero-headline2 span {
  color: var(--primary-orange);
  font-size: 70px;
  margin-bottom: 10px;
  font-family: Lilita One;
}

.insighthero-headline2  {
  color: var(--primary-grey);
  font-size: 70px;
  font-family: Lilita One;
  line-height: 60px;
}

.insighthero-subheadline {
  font-size: 25px;
  font-weight: 200;
  font-family: Geologica;
  color: var(--highlight-color);
  margin: 8px 13px;
  margin-top: -25px;
}

.insighthero-image {
  flex: 1;
  max-width: 50%;
  display: flex;
  align-items: center;
}

.insighthero-image img {
  height: 380px;
  width:630px;
  margin-right: 90px;
  margin-top: 40px;
  transition: transform 0.3s ease;
}

.insighthero-image img:hover {
transform: translateY(-10px);
}



/* Responsive styles for .franchisehero */
@media (max-width: 884px) {
  .insighthero-container {
    padding: 30px;
    gap: 20px;
  }

  .insighthero-content {
    max-width: 60%;
    margin-left: 0;
    margin-top: 30px;
  }

  .insighthero-image {
    max-width: 40%;
    margin-left: 0;
  }

  .insighthero-headline1 {
    font-size: 28px;
    margin-bottom: -120px;
  }

  .insighthero-headline2 {
    font-size: 70px;
    line-height: 75px;
  }

  .insighthero-headline2 span {
    font-size: 70px;
  }

  .insighthero-subheadline {
    font-size: 22px;
  }

  .insighthero-pagename {
    font-size: 22px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }

  .insighthero-image img {
    height: 400px;
    width: auto;
  }
}
@media (max-width: 885px){
  .insighthero-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }
  .insighthero-pagename {
    font-size: 13px;
    top:0px;
  }
 .insighthero-sub-container{
  margin-top: -67px;
 }
  .insighthero-content {
    max-width: 100%;
    margin-top:27px
  }

  .insighthero-image {
    max-width: 50%;
    margin-left: 0;
  }

  .insighthero-image img {
    height: 234px;
    width: auto;
  }

  
  .insighthero-headline2,
  .insighthero-headline2 span {
    font-size:35px;
  }
  .insighthero-headline2 {
    line-height: 49px;
    margin-top: 71px;
}



  .insighthero-subheadline {
    font-size: 15px;
    margin-left: -1px;
  }
}

@media (max-width: 428px) {
  .insighthero-container {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }
.insighthero-sub-container{
  display: flex;
  flex-direction: column-reverse;
  width:100%;
}
.insighthero-content {
  max-width: 100%;
  text-align: center;
  margin-top: 50px;
  width: 98%;
  margin-left: 4px;
}

  .insighthero-image {
    max-width: 100%;
    margin-left: 79px;
  }
  .insighthero-image img {
    height: 223px;
    width: 340px;
    margin-top: 52px;
    margin-left: -50px;
    margin-bottom: -106px;
}

  .insighthero-headline1,
  .insighthero-headline2,
  .insighthero-headline2 span {
    font-size: 42px;
  }

  .insighthero-subheadline {
    font-size: 18px;
  }

  .insighthero-pagename {
    font-size: 14px;
    margin-bottom: 30px;
    margin-left: -145px;
    margin-right: 63px;
    top:-12px;
  }

 
}
@media (max-width: 393px) {
  .insighthero-image {
      margin-left: 64px;
  }
}

@media (max-width: 376px) {
  .insighthero-pagename {
    margin-left: -128px;
  }
  .insighthero-image img {
    height: 250px;
  }

  .insighthero-headline1,
  .insighthero-headline2,
  .insighthero-headline2 span {
    font-size: 37px;
  }

  .insighthero-subheadline {
    font-size: 18px;
  }

}

@media (max-width: 320px) {
  .insighthero-image img {
    height: 200px;
    margin-left:-76px;
  }
  .insighthero-pagename {
    margin-left: -76px;
  }
  .insighthero-content{
    margin-top: 37px !important;
  }
  .insighthero-headline1,
  .insighthero-headline2,
  .insighthero-headline2 span {
    font-size: 30px;
  }
  .insighthero-headline2 {
    line-height: 40px;
    margin-top: 81px;
}
  .insighthero-subheadline {
    font-size: 14px;
    margin-top: -15px;
  }

}