.gallery-container {
  background-color: var(--bg-color);
  padding: 20px;
  text-align: center;
}


.gallery-header {
  margin-bottom: 20px;
  font-family: 'Geologica';    
  font-size: 24px;
}

.gallery-header .subheading {
  color: var(--primary-orange);
  margin: 0;
  font-family: 'Geologica';    
  font-size: 24px;
}

.gallery-header .heading {
  color: var(--primary-grey);
  margin: 5px 0;
  font-family: 'Geologica';    
  font-size: 24px;
}

/* Buttons */
.gallery-buttons {
  display: flex;
  justify-content: left;
  margin-left: 100px;
  gap: 10px;
  margin-bottom: 50px;
}

.gallery-buttons button {
  padding: 8px 16px;
  width: 168px;
  border: 2px solid var(--primary-grey);
  border-radius: 24px;
  color: var(--primary-grey);
  cursor: pointer;
  font-size: 16px;
  font-family: geologica;
  transition: background-color 0.3s ease;
}

.gallery-buttons button.active,
.gallery-buttons button:hover {
  color: var(--primary-orange);
  border: 1px solid var(--primary-orange);
}

/* Flexbox Grids */
.flex-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}

/* Image Styling */
.gallery-item {
  overflow: hidden;
  border-radius: 10px;
  flex: 0 0 auto;
}

.gallery-item img {
  width: 180px; 
  height: 270px; 
  object-fit: cover;
  transition: transform 0.3s ease;
}
.gallery-item img:hover {
  transform: scale(1.05);
}

.gallery-item:nth-child(1) {
  width: 172px;
  height: 258px;
}
  .gallery-item:nth-child(4) {
      width: 180px;
      height: 280px;
  }
  .gallery-item:nth-child(5) {
      width: 128px;
      height: 215px;
  }
  .gallery-item:nth-child(6) {
      width: 128px;
      height: 171px;
  }
  
  .gallery-item:nth-child(7) {
      width: 185px;
      height: 260px;
  }
  
 

.offset-up {
  margin-top: -10px;
}

.offset-down {
  margin-top: 10px;
}



/* Responsive Adjustments */
@media (max-width: 769px) {
  .gallery-item img {
    width: 150px;
    height: 225px;
  }
  .gallery-item:nth-child(4) {
      width: 180px;
      height: 280px;
      margin-left: 51px;
  }
  .offset-up {
    margin-top: -5px;
  }

  .offset-down {
    margin-top: 5px;
  }

  .gallery-buttons {
    justify-content: center;
    gap: 8px;
    margin-left: -2px;
  margin-right: 106px;
  }

  .gallery-buttons button {
    width: 140px;
    padding: 6px 12px;
    font-size: 14px;
  }
}

@media (max-width: 426px) {
  .gallery-item img {
    width: 108px;
    height: 180px;
  }

  
.gallery-item:nth-child(1) {
  width: 116px;
  height: 179px;
}
  .gallery-item:nth-child(4) {
      width: 180px;
      height: 178px;
      margin-left:-26px; 
  }
  .gallery-item:nth-child(5) {
      width: 128px;
      height: 178px;
      margin-left:-45px;
      /* margin-right: -22px; */
  }
  .gallery-item:nth-child(6) {
      width: 128px;
      height: 171px;
  }
  
  .gallery-item:nth-child(7) {
      width: 185px;
      height: 178px;
      margin-left:-51px; 
      margin-right: -41px;
  }
  
 
  .offset-up,
  .offset-down {
    margin-top: 5px;
  }

  .gallery-buttons {
    gap: 6px;
    margin-left:103px;
  }

  .gallery-buttons button {
    width: 120px;
    padding: 1px 10px;
    font-size: 13px;
  }
}

@media (max-width: 376px) {
  .gallery-item img {
    width: 92px;
    height: 150px;
  }
  
.gallery-item:nth-child(1) {
  width: 116px;
  height: 150px;
}
  .gallery-item:nth-child(4) {
      width: 180px;
      height: 150px;
      /* margin-left:-50px; */
  }
  .gallery-item:nth-child(5) {
      width: 128px;
      height: 150px;
      /* margin-left:-45px;
      margin-right: -22px; */
  }
  .gallery-item:nth-child(6) {
      width: 128px;
      height: 150px;
  }
  .flex-row{
    gap:9px;
  }
  
  .gallery-item:nth-child(7) {
      width: 185px;
      height: 150px;
      margin-left:-38px;
  }
  .offset-up {
    margin-top: 3px;
  }

  .offset-down {
    margin-top: 3px;
  }

  .gallery-buttons {
    gap: 5px;
  }

  .gallery-buttons button {
    width: 110px;
    padding: 0px 8px;
    font-size: 12px;
  }
}
/* 
@media (max-width: 326px) {
  .gallery-item img {
    width: 90px;
    height: 135px;
  }

  .offset-up {
    margin-top: 2px;
  }

  .offset-down {
    margin-top: 2px;
  }

  .gallery-buttons {
    gap: 4px;
  }

  .gallery-buttons button {
    width: 100px;
    padding: 3px 6px;
    font-size: 11px;
  }
} */

@media (max-width: 321px) {
  .gallery-item img {
    width: 80px;
    height: 120px;
  }
  .gallery-item:nth-child(1) {
      width: 90px;
      height: 114px;
  }
  .flex-row{
    gap :0px;
  }
  .gallery-item:nth-child(5) {
      width: 128px;
      height: 125px;
  }
  .gallery-item:nth-child(4) {
      width: 180px;
      height: 126px;
      margin-left: -34px;
  }
  .gallery-item:nth-child(6) {
      width: 128px;
      height: 115px;
      margin-left: -55px;
  }
  .gallery-item:nth-child(7) {
      width: 185px;
      height: 125px;
      margin-left: -53px;
      margin-right: -74px;
  }



  .offset-up {
    margin-top: 2px;
  }

  .offset-down {
    margin-top: 2px;
  }

  .gallery-buttons {
    gap: 3px;
  }

  .gallery-buttons button {
    width: 90px;
    padding: 0px 6px;
    font-size: 10px;
  }
}