.mission-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-top: 30px;
}

.mission-wrapper img {
  object-fit: cover;
}

/* Central Background Image */
.central-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: relative;
  z-index: 1; 
}

/* Content Section (Text) */
.content-section {
  position: absolute; /* Allows it to overlap the central image */
  top: 10%;
  left: 8%; 
  padding: 30px; 
  z-index: 2; 
  width: 587px;
  color: #f5f5f5; 
}

.content-section h1 {
  margin: 0 0 15px;
  color: var(--primary-orange); 
  font-size: 50px;
  font-weight: 400;
  font-family: lilita one;
}

.content-section p {
  color: #ffffff; 
  line-height: 1.4;
  font-size: 24px;
  font-weight: 400;
  font-family: geologica;
}

.content-section .sub-section {
  display: flex;
  align-items: center; 
  margin-top: 30px;
}

.sub-section .icon {
  flex: 0 0 60px; /* Fixed space for the icon */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px; 
}

.sub-section img {
  width: 58px;
  height: 58px;
}

.sub-section .text h3 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  font-family: geologica;
  margin: 0 0 10px;
}

.sub-section .text p {
  color: #ffffff;
  font-size: 20px;
  font-weight: thin;
  line-height: 1.6;
  font-family: geologica;
}

/* Image Section (Small Image and Surrounding Icons) */
.image-section {
  position: absolute;
  bottom: 75px; 
  right: 100px; 
  z-index: 2; 
  width: 656px; 
  height: 786px;
  transition: transform 0.3s ease;
}

.image-section img:hover {
  transform: translateY(-10px);
}

.main-image {
  width: 625px;
  height: 778px;
}

.mission-icon {
  position: absolute;
}

/* Positioning icons around the small image */
.icon1 {
  width: 68.95px;
  height: 67.59px;
  top: 70%;
  left: 87%;
}

.icon2 {
  width: 83.18px;
  height: 99.73px;
  top: 75%;
  right: 88%;
}

.icon3 {
  width: 70.52px;
  height: 75.69px;
  bottom: 58%;
  left: 82%;
}

.icon4 {
  width: 90.41px;
  height: 78.29px;
  top: 50%;
  right: 90%;
}

.icon5 {
  width: 79.92px;
  height: 80.04px;
  top: 37%;
  left: 18%;
  transform: translateY(-50%);
}

.icon6 {
  width: 68.36px;
  height: 66.29px;
  top: 88%;
  right: 8%;
  transform: translateY(-50%);
}


@media (max-width: 1024px) {
  .mission-wrapper {
    height: auto;
    margin-top: 50px;
    flex-direction: column;
  }

  .content-section {
    top: 5%;
    left: 5%;
    width: 90%;
    padding: 20px;
  }

  .content-section h1 {
    font-size: 45px;
    margin-top: -30px;
  }

  .content-section p {
    font-size: 16px;
    margin-top:-5px;
  }

  .sub-section .icon {
    flex: 0 0 50px;
    margin-right: 10px;
  }
  .content-section .sub-section {
    margin-top: 40px;
  }

  .sub-section img {
    width: 30px;
    height: 30px;
    margin-top: -40px;
  }

  .sub-section .text h3 {
    font-size: 14px;
    margin-top: -23px;
    margin-bottom:-22px;
  }

  .sub-section .text p {
    font-size: 14px;
    margin-top: 24px;
  }

  .image-section {
    bottom: 50px;
    right: 20px;
    width: 500px;
    height: 600px;
  }

  .main-image {
    width: 480px;
    height: 580px;
  }

  .mission-icon {
    width: 60px;
    height: 60px;
  }

  .icon1 {
    width: 40px;
    height: 40px;
    top: 78%;
    left: 92%;
  }

  .icon2 {
    width: 50px;
    height: 50px;
    top: 91%;
    right: 65%;
  }

  .icon3 {
    width: 50px;
    height: 50px;
    bottom: 42%;
    left: 87%;
  }

  .icon4 {
    width: 43px;
    height: 38px;
    top: 70%;
    right: 72%;
  }

  .icon5 {
    width: 40px;
    height: 40px;
    top: 52%;
    left: 42%;
  }

  .icon6 {
    width: 40px;
    height: 40px;
    top: 101%;
    right: 4%;
  }
  .main-image{
    width: 86%;
    height: auto;
    margin-top:128px;
    margin-left:113px;

  }
}

@media (max-width: 768px) {
  .mission-wrapper {
    height: auto;
    margin-top: 50px;
    flex-direction: column;
  }

  .content-section {
    top: 5%;
    left: 5%;
    width: 90%;
    padding: 20px;
  }

  .content-section h1 {
    font-size: 36px;
    margin-top: -30px;
  }

  .content-section p {
    font-size: 14px;
    margin-top:-5px;
  }

  .sub-section .icon {
    flex: 0 0 50px;
    margin-right: 10px;
  }
  .sub-section{
    margin-top: 20px;
  }

  .sub-section img {
    width: 30px;
    height: 30px;
    margin-top: -40px;
  }

  .sub-section .text h3 {
    font-size: 12px;
    margin-top: -23px;
    margin-bottom:-22px;
  }

  .sub-section .text p {
    font-size: 12px;
    margin-top: 24px;
  }

  .image-section {
    bottom: 50px;
    right: 20px;
    width: 500px;
    height: 600px;
  }

  .main-image {
    width: 480px;
    height: 580px;
  }

  .mission-icon {
    width: 60px;
    height: 60px;
  }

  .icon1 {
    width: 40px;
    height: 40px;
    top: 88%;
    left: 92%;
  }

  .icon2 {
    width: 50px;
    height: 50px;
    top: 93%;
    right: 55%;
  }

  .icon3 {
    width: 50px;
    height: 50px;
    bottom: 30%;
    left: 85%;
  }

  .icon4 {
    width: 43px;
    height: 38px;
    top: 75%;
    right: 61%;
  }

  .icon5 {
    width: 40px;
    height: 40px;
    top: 66%;
    left: 48%;
  }

  .icon6 {
    width: 40px;
    height: 40px;
    top: 101%;
    right: 4%;
  }
  .main-image{
    width: 65%;
    height: auto;
    margin-top:255px;
    margin-left:175px;

  }
}
@media (max-width: 450px) {
  .content-section h1 {
    font-size: 19px;
    margin-top: -26px;
  }

  .content-section p {
    font-size: 9px;
    margin-top: -14px;
  }

  .sub-section .icon {
    flex: 0 0 55px;
    margin-right: 12px;
  }

  .content-section .sub-section {
    margin-top: 14px;
  }

  .sub-section img {
    width: 20px;
    height: 20px;
    margin-top: -20px;
  }

  .sub-section .text h3 {
    font-size: 10px;
    margin-top: -12px;
    margin-bottom: -12px;
    margin-left: -5px;
  }

  .sub-section .text p {
    font-size: 8px;
    margin-top: 12px;
    line-height: 12px;
    margin-left: -5px;
  }

  .image-section {
    bottom: 35px;
    right: 12px;
    width: 60%;
    height: 300px;
  }

  .main-image {
    width: 151px;
    height: 216px;
    margin-top: 119px;
    margin-left: 100px;
  }

  .icon1,
  .icon2,
  .icon3,
  .icon4,
  .icon5,
  .icon6 {
    width: 20px;
    height: 20px;
  }

  .icon1 {
    top: 85%;
    left: 95%;
  }

  .icon2 {
    top: 92%;
    right: 48%;
  }

  .icon3 {
    bottom: 30%;
    left: 88%;
  }

  .icon4 {
    top: 72%;
    right: 60%;
  }

  .icon5 {
    top: 65%;
    left: 55%;
  }

  .icon6 {
    top: 105%;
    right: 0%;
  }

  .content-section {
    left: 0%;
  }
}
@media (max-width: 376px) {
  .content-section h1 {
    font-size: 18px;
    margin-top: -20px;
  }

  .content-section p {
    font-size: 8px;
    margin-top: -15px;
  }

  .sub-section .icon {
    flex: 0 0 50px;
    margin-right: 10px;
  }

  .content-section .sub-section {
    margin-top: 15px;
  }

  .sub-section img {
    width: 18px;
    height: 18px;
    margin-top: -25px;
  }

  .sub-section .text h3 {
    font-size: 8px;
    margin-top: -15px;
    margin-bottom: -15px;
    margin-left: -8px;
  }

  .sub-section .text p {
    font-size: 6.7px;
    margin-top: 15px;
    line-height: 10px;
    margin-left: -8px;
  }

  .image-section {
    bottom: 40px;
    right: 15px;
    width: 55%;
    height: 270px;
  }

  .main-image {
    width: 140px;
    height: 190px;
    margin-top: 120px;
    margin-left: 92px;
  }

  .icon1,
  .icon2,
  .icon3,
  .icon4,
  .icon5,
  .icon6 {
    width: 18px;
    height: 18px;
  }

  .icon1 {
    top: 90%;
    left: 97%;
  }

  .icon2 {
    top: 98%;
    right: 50%;
  }

  .icon3 {
    bottom: 28%;
    left: 90%;
  }

  .icon4 {
    top: 76%;
    right: 57%;
  }

  .icon5 {
    top: 68%;
    left: 51%;
  }

  .icon6 {
    top: 109%;
    right: -2%;
  }

  .content-section {
    left: -1%;
  }
}
@media(max-width:360px){
  .main-image{
    margin-left: 77px;
  }
}
@media (max-width: 321px) {
 
  .content-section h1 {
    font-size: 16px;
    margin-top: -18px;
  }

  .content-section p {
    font-size: 7px;
    margin-top: -13px;
  }

  .sub-section .icon {
    flex: 0 0 40px;
    margin-right: 8px;
  }

  .content-section .sub-section {
    margin-top: 19px;
  }

  .sub-section img {
    width: 15px;
    height: 15px;
    margin-top: -28px;
  }

  .sub-section .text h3 {
    font-size: 6px;
    margin-top: -18px;
    margin-bottom: -18px;
    margin-left: -10px;
  }

  .sub-section .text p {
    font-size: 4px;
    margin-top: 18px;
    line-height: 8px;
    margin-left: -10px;
  }

  .image-section {
    bottom: 30px;
    right: 10px;
    width: 50%;
    height: 250px;
  }

  .main-image {
    width: 130px;
    height: 180px;
    margin-top: 100px;
    margin-left: 40px;
  }

  .icon1,
  .icon2,
  .icon3,
  .icon4,
  .icon5,
  .icon6 {
    width: 15px;
    height: 15px;
  }

  .icon1 {
    top: 92%;
    left: 96%;
  }

  .icon2 {
    top: 95%;
    right: 66%;
  }

  .icon3 {
    bottom: 28%;
    left: 88%;
  }

  .icon4 {
    top: 78%;
    right: 68%;
  }

  .icon5 {
    top: 69%;
    left: 36%;
  }

  .icon6 {
    top: 107%;
    right: 0%;
  }

  .content-section {
    left: -2%;
  }
}