.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: var(--bg-color);
  overflow-x: hidden;
}

.home-card-info-text {
  text-align: center !important;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.home-card-info-text h2 {
  text-align: center !important;
  font-size: 24px;
  font-weight: 400;
  color: var(--primary-orange);
  margin: 0 auto 10px auto;
  font-family: geologica;
  width: 100%;
  display: block;
}

.home-card-info-text h3 {
  text-align: center !important;
  font-size: 50px;
  color: var(--primary-grey);
  font-weight: 800;
  margin: -19px auto -19px auto;
  font-family: lilita one;
  width: 100%;
  display: block;
}

.home-card-info-text p {
  text-align: center !important;
  font-size: 22px;
  margin: 20px auto 0 auto;
  font-weight: 100;
  font-family: geologica;
  color: var(--primary-grey);
  width: 100%;
  max-width: 900px;
  display: block;
}

.Card {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 55px;
  padding: 10px 10px 10px 20px;
  width: 78%;
  height: 565px;
}

.Card::-webkit-scrollbar {
  display: none;
}


.navigation-buttons {
  display: flex;
  justify-content: center;
  margin-top: -14px;
  margin-left: 965px;
}

.navigation-buttons button {
  background-color: var(--primary-orange);
  border: 1px solid #ccc;
  border-radius: 25%;
  padding: 8px 12px;
  cursor: pointer;
  margin: 0 0px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
  font-size: 18px;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-buttons button:hover {
  background-color: #fa8d3f;
}

.navigation-buttons .prev::before,
.navigation-buttons .next::before {
  content: '';
}

/* @media (max-width: 1024px) {
    .Card {
      gap: 15px; 
      padding: 8px; 
    }
  
    .navigation-buttons button {
      padding: 8px; 
    }
  } */

@media (max-width: 1024px) {
  .Card {
    gap: 55px;
    padding: 10px 10px 10px 20px;
    width: 95%;
  }

  .navigation-buttons {
    margin-left: 650px;
  }

  .navigation-buttons button {
    padding: 6px 10px;
    margin: 0 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 16px;
  }

  .navigation-buttons .prev {
    left: 5px;
  }

  .navigation-buttons .next {
    right: 5px;
  }
}

@media (max-width:450px) {
  .card-wrapper {
    align-items: center;
  }

  .home-card-info-text {
    padding: 0 15px;
    margin-left: 20px;
    margin-right: auto;
  }

  .Card {
    gap: 55px;
    padding: 10px 0 10px 30px;
    width: 100%;
    margin-left: 0;
  }

  .product-box1 {
    height: 400px;
    min-width: 240px;
    width: 240px;
    flex-shrink: 0;
  }

  .product-box1 img {
    width: 255px;
    height: 243px;
    margin-left: -8px;
    margin-bottom: -22px;
  }

  .description-box1 {
    padding: 0 14px;
  }

  .description-box1 h3 {
    font-size: 16px;
  }

  .description-box1 h3 span {
    font-size: 14px;
    margin-left: 95px;
  }

  .description-box1 p {
    font-size: 14px;
    margin-top: -9px;
    margin-bottom: 35px;
  }

  .course-info {
    gap: 35px;
    font-size: 12px;
    margin: -8px 0px;
  }

  .course-info img {
    width: 14px;
    height: 14px;
  }

  .info-item2 {
    gap: 11px;
    font-size: 13px;
    margin-top: -14px;
  }

  .info-item1 {
    font-size: 12px;
    margin-top: -86px;
    margin-left: 110px;
  }

  .info-item1 img {
    width: 135px;
    height: 88px;
  }

  .learn-more img {
    width: 72px;
  }

  .info-item1 h2 {
    font-size: 14px;
    margin-top: -36px;
    margin-left: 22px;
  }

  .navigation-buttons {
    margin-left: auto;
    margin-right: 15px;
    margin-top: -80px;
    justify-content: flex-end;
    width: auto;
    position: relative;
  }

  .navigation-buttons button {
    padding: 8px 12px;
    font-size: 18px;
  }
}

@media (min-width: 320px) and (max-width: 600px) {
  .navigation-buttons {
    margin-left: auto;
    margin-right: 15px;
    margin-top: -120px;
    justify-content: flex-end;
    width: auto;
    position: relative;
  }

  .navigation-buttons button {
    padding: 8px 12px;
    font-size: 18px;
  }
}

@media (min-width: 375px) and (max-width: 376px) {
  .navigation-buttons {
    margin-left: auto;
    margin-right: 15px;
    margin-top: -80px;
    justify-content: flex-end;
    width: auto;
    position: relative;
  }

  .navigation-buttons button {
    padding: 8px 12px;
    font-size: 18px;
  }
}

@media (min-width: 425px) and (max-width: 426px) {
  .navigation-buttons {
    margin-left: auto;
    margin-right: 15px;
    margin-top: -80px;
    justify-content: flex-end;
    width: auto;
    position: relative;
  }

  .navigation-buttons button {
    padding: 8px 12px;
    font-size: 18px;
  }
}

@media (min-width: 320px) and (max-width: 321px) {
  .navigation-buttons {
    margin-left: auto;
    margin-right: 10px;
    margin-top: -120px;
    justify-content: flex-end;
    width: auto;
    position: relative;
  }

  .navigation-buttons button {
    padding: 7px 10px;
    font-size: 16px;
  }
}

@media (max-width:376px) {
  .card-wrapper {
    align-items: center;
  }

  .home-card-info-text {
    padding: 0 15px;
    margin-left: 20px;
    margin-right: auto;
  }

  .Card {
    gap: 55px;
    padding: 10px 0 10px 30px;
    width: 100%;
    margin-left: 0;
  }

  .product-box1 {
    height: 380px;
    min-width: 230px;
    width: 230px;
    flex-shrink: 0;
  }

  .product-box1 img {
    width: 245px;
    height: 233px;
    margin-left: -8px;
    margin-bottom: -21px;
  }

  .description-box1 {
    padding: 0 13px;
  }

  .description-box1 h3 {
    font-size: 15px;
  }

  .description-box1 h3 span {
    font-size: 13px;
    margin-left: 90px;
  }

  .description-box1 p {
    font-size: 13px;
    margin-top: -8px;
    margin-bottom: 33px;
  }

  .course-info {
    gap: 33px;
    font-size: 11px;
    margin: -7px 0px;
  }

  .course-info img {
    width: 13px;
    height: 13px;
  }

  .info-item2 {
    gap: 10px;
    font-size: 12px;
    margin-top: -13px;
  }

  .info-item1 {
    font-size: 11px;
    margin-top: -81px;
    margin-left: 105px;
  }

  .info-item1 img {
    width: 130px;
    height: 85px;
  }

  .learn-more img {
    width: 68px;
  }

  .info-item1 h2 {
    font-size: 13px;
    margin-top: -34px;
    margin-left: 21px;
  }
}

@media (max-width:361px) {
  .card-wrapper {
    align-items: center;
  }

  .home-card-info-text {
    padding: 0 15px;
    margin-left: 20px;
    margin-right: auto;
  }

  .Card {
    gap: 55px;
    padding: 10px 0 10px 30px;
    width: 100%;
    margin-left: 0;
    justify-content: flex-start;
  }

  .product-box1 {
    height: 360px;
    min-width: 220px;
    width: 220px;
    flex-shrink: 0;
  }

  .product-box1 img {
    width: 235px;
    height: 223px;
    margin-left: -8px;
    margin-bottom: -20px;
  }

  .description-box1 {
    padding: 0 12px;
  }

  .description-box1 h3 {
    font-size: 14px;
  }

  .description-box1 h3 span {
    font-size: 12px;
    margin-left: 86px;
  }

  .description-box1 p {
    font-size: 12px;
    margin-top: -8px;
    margin-bottom: 31px;
  }

  .course-info {
    gap: 31px;
    font-size: 10px;
    margin: -7px 0px;
  }

  .course-info img {
    width: 12px;
    height: 12px;
  }

  .info-item2 {
    gap: 9px;
    font-size: 11px;
    margin-top: -12px;
  }

  .info-item1 {
    font-size: 10px;
    margin-top: -77px;
    margin-left: 100px;
  }

  .info-item1 img {
    width: 124px;
    height: 81px;
  }

  .learn-more img {
    width: 65px;
  }

  .info-item1 h2 {
    font-size: 12px;
    margin-top: -32px;
    margin-left: 20px;
  }
}



.product-box1 {
  height: 450px;
  width: 280px;
  background-color: #f5f5f5;
  border-radius: 41px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .card-wrapper {
    align-items: center;
  }

  .home-card-info-text {
    padding: 0 15px;
    margin-left: 20px;
    margin-right: auto;
  }

  .Card {
    padding: 10px 0 10px 30px;
    width: 100%;
    margin-left: 0;
  }

  .product-box1 {
    flex-shrink: 0;
  }
}

.product-box1:hover {
  box-shadow: 0 0 15px 4px rgba(75, 75, 75, 0.8);
}

.product-box1 img {
  width: 295px;
  margin-left: -8px;
  height: 286px;
  object-fit: cover;
  margin-bottom: -26px;
}

.description-box1 {
  padding: 0 17px;
  padding-top: 0;
}

.description-box1 h3 {
  color: #0d0d0d;
  font-size: 19px;
  font-weight: bold;
  font-family: KoHo;
  line-height: 1.2;
}

.description-box1 h3 span {
  color: #455a64;
  font-size: 16px;
  font-weight: 400;
  margin-left: 110px;
}

.description-box1 p {
  margin-top: -11px;
  margin-bottom: 42px;
  color: #323030;
  font-size: 16px;
  font-family: KoHo;
  line-height: 1.3;
}

.price {
  margin: 8px 0px;
  font-size: 20px;
  color: #222;
  font-weight: bold;
}

span {
  color: #777;
  margin-left: 10px;
}

.course-info {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0px;
  gap: 42px;
  color: var(--primary-grey);
  font-size: 14px;
  font-weight: 400;
}

.course-info img {
  width: 17px;
  height: 17px;
  object-fit: contain;
}

.info-item2 {
  display: flex;
  gap: 13px;
  font-size: 16px;
  color: #455a64;
  margin-top: -16px;
}

.info-item1 {
  gap: 13px;
  font-size: 14px;
  color: var(--primary-grey);
  margin-top: -102px;
  margin-left: 128px;
}

.info-item1 img {
  width: 160px;
  height: 104px;
  object-fit: contain;
}

.learn-more-link {
  text-decoration: none;
  cursor: pointer;
}

.learn-more img {
  width: 85px;
}

.info-item1 h2 {
  color: var(--bg-color);
  font-size: 16px;
  font-weight: 400;
  font-family: 'KoHo';
  text-decoration: none;
  margin-top: -42px;
  margin-left: 26px;
}

.bulb-icon img {
  width: 15px;
  height: 15px;
}

.info-item span {
  width: 200px;
  height: 100px;
}

@media (max-width:321px) {
  .card-wrapper {
    align-items: center;
  }

  .home-card-info-text {
    padding: 0 15px;
    margin-left: 20px;
    margin-right: auto;
  }

  .Card {
    gap: 55px;
    padding: 10px 0 10px 30px;
    width: 100%;
    margin-left: 0;
  }

  .product-box1 {
    height: 340px;
    min-width: 210px;
    width: 210px;
    flex-shrink: 0;
    background-color: var(--bg-color);
    border-radius: 41px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
  }

  .product-box1 img {
    width: 225px;
    height: 213px;
    margin-left: -8px;
    object-fit: cover;
    margin-bottom: -19px;
  }

  .description-box1 {
    padding: 0px 11px;
  }

  .description-box1 h3 {
    font-size: 13px;
  }

  .description-box1 h3 span {
    font-size: 11px;
    margin-left: 82px;
  }

  .description-box1 p {
    font-size: 11px;
    margin-top: -7px;
    margin-bottom: 29px;
  }

  .course-info {
    gap: 29px;
    font-size: 10px;
    margin: -6px 0px;
  }

  .course-info img {
    width: 12px;
    height: 12px;
  }

  .info-item2 {
    display: flex;
    gap: 9px;
    font-size: 11px;
    color: var(--primary-grey);
    margin-top: -25px;
  }

  .info-item1 {
    font-size: 10px;
    margin-left: 95px;
    margin-top: -73px;
  }

  .info-item1 img {
    width: 118px;
    height: 77px;
  }

  .learn-more img {
    width: 62px;
  }

  .info-item1 h2 {
    font-size: 11px;
    margin-top: -30px;
    margin-left: 19px;
  }

  .navigation-buttons {
    margin-left: auto;
    margin-right: 10px;
    margin-top: -120px;
    justify-content: flex-end;
    width: auto;
    position: relative;
  }

  .navigation-buttons button {
    padding: 7px 10px;
    font-size: 16px;
  }
}

/* Full HD: 1920px */
@media (min-width: 1920px) {
  .home-card-info-text {
    max-width: 1440px;
    padding: 0 30px;
    margin-bottom: 30px;
  }

  .home-card-info-text h2 {
    font-size: 29px;
  }

  .home-card-info-text h3 {
    font-size: 60px;
  }

  .home-card-info-text p {
    font-size: 26px;
    max-width: 1080px;
  }

  .Card {
    gap: 55px;
    padding: 15px 15px 15px 30px;
    width: 78%;
    max-width: 1440px;
    height: 580px;
    margin: 0 auto;
    overflow-y: hidden;
    align-items: flex-start;
  }

  .product-box1 {
    height: 560px;
    width: 336px;
    overflow: visible;
    position: relative;
  }

  .product-box1 img {
    width: 355px;
    height: 344px;
  }

  .description-box1 {
    padding: 0 20px;
    padding-top: 0;
  }

  .description-box1 h3 {
    font-size: 23px;
    line-height: 1.2;
  }

  .description-box1 h3 span {
    font-size: 19px;
    margin-left: 132px;
  }

  .description-box1 p {
    font-size: 19px;
    margin-bottom: 45px;
    line-height: 1.3;
  }

  .course-info {
    gap: 51px;
    font-size: 17px;
    margin: -8px 0px;
    margin-top: -15px;
  }

  .course-info img {
    width: 20px;
    height: 20px;
  }

  .info-item2 {
    gap: 15px;
    font-size: 19px;
    margin-top: -20px;
  }

  .info-item1 {
    font-size: 17px;
    position: absolute;
    bottom: -10px;
    right: -20px;
    margin: 0;
  }

  .info-item1 img {
    width: 192px;
    height: 125px;
  }

  .learn-more img {
    width: 102px;
  }

  .info-item1 h2 {
    font-size: 19px;
    margin-left: 31px;
    margin-top: -50px;
  }

  .navigation-buttons {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: -17px;
    width: 78%;
    max-width: 1440px;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
  }

  .navigation-buttons button {
    padding: 10px 14px;
    font-size: 22px;
  }
}

/* 2K: 2560px */
@media (min-width: 2560px) {
  .home-card-info-text {
    max-width: 1800px;
    padding: 0 40px;
    margin-bottom: 40px;
  }

  .home-card-info-text h2 {
    font-size: 36px;
  }

  .home-card-info-text h3 {
    font-size: 75px;
  }

  .home-card-info-text p {
    font-size: 33px;
    max-width: 1350px;
  }

  .Card {
    gap: 55px;
    padding: 20px 20px 20px 40px;
    width: 78%;
    max-width: 1800px;
    height: 680px;
    margin: 0 auto;
    overflow-y: hidden;
    align-items: flex-start;
  }

  .product-box1 {
    height: 720px;
    width: 420px;
    overflow: hidden;
  }

  .product-box1 img {
    width: 440px;
    height: 427px;
  }

  .description-box1 {
    padding: 0 25px;
    padding-top: 0;
  }

  .description-box1 h3 {
    font-size: 29px;
    line-height: 1.2;
  }

  .description-box1 h3 span {
    font-size: 24px;
    margin-left: 165px;
    
  }

  .description-box1 p {
    font-size: 24px;
    margin-bottom: 64px;
    line-height: 1.3;
  }

  .course-info {
    gap: 40px;
    font-size: 21px;
    margin: -9px 0px;
    margin-top: -25px;
  }

  .course-info img {
    width: 25px;
    height: 25px;
  }

  .info-item2 {
    gap: 19px;
    font-size: 24px;
    margin-top: -15px;
  }

  .info-item1 {
    font-size: 21px;
    margin-left: 191px;
    margin-top: -85px;
  }

  .info-item1 img {
    width: 240px;
    height: 157px;
  }

  .learn-more img {
    width: 127px;
  }

  .info-item1 h2 {
    font-size: 24px;
    margin-left: 39px;
    margin-top: -70px;
  }

  .navigation-buttons {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: -21px;
    width: 78%;
    max-width: 1800px;
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
  }

  .navigation-buttons button {
    padding: 13px 18px;
    font-size: 28px;
  }
}

/* 4K: 3840px */
@media (min-width: 3840px) {
  .home-card-info-text {
    max-width: 2400px;
    padding: 0 60px;
    margin-bottom: 60px;
  }

  .home-card-info-text h2 {
    font-size: 48px;
  }

  .home-card-info-text h3 {
    font-size: 100px;
  }

  .home-card-info-text p {
    font-size: 44px;
    max-width: 1800px;
  }

  .Card {
    gap: 55px;
    padding: 30px 50px 100px 60px;
    width: 80%;
    max-width: 2500px;
    height: 1150px;
    margin: 0 auto;
    overflow-y: visible;
    align-items: flex-start;
  }

  .product-box1 {
    height: 980px;
    width: 600px;
    overflow: visible;
    position: relative;
  }

  .product-box1 img {
    width: 630px;
    height: 610px;
    margin-left: -8px;
    margin-bottom: -31px;
  }

  .description-box1 {
    padding: 0 30px;
    padding-top: 0;
  }

  .description-box1 h3 {
    font-size: 34px;
    line-height: 1.2;
  }

  .description-box1 h3 span {
    font-size: 29px;
    margin-left: 248px;
  }

  .description-box1 p {
    font-size: 29px;
    margin-top: -13px;
    margin-bottom: 64px;
    line-height: 1.3;
  }

  .course-info {
    gap: 64px;
    font-size: 25px;
    margin: -9px 0px;
  }

  .course-info img {
    width: 30px;
    height: 30px;
  }

  .info-item2 {
    gap: 19px;
    font-size: 29px;
    margin-top: -15px;
  }

  .info-item1 {
    font-size: 25px;
    position: absolute;
    bottom: -25px;
    right: -25px;
    margin: 0;
  }

  .info-item1 img {
    width: 360px;
    height: 235px;
  }

  .learn-more img {
    width: 191px;
  }

  .info-item1 h2 {
    font-size: 29px;
    margin-left: 59px;
    margin-top: -45px;
  }

  .navigation-buttons {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: -28px;
    width: 78%;
    max-width: 2400px;
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
  }

  .navigation-buttons button {
    padding: 16px 24px;
    font-size: 36px;
  }
}
