.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 85px;
    justify-content: center;
    padding: 20px;
    background-color: var(--bg-color);
  }
  .cards-slider-container {
    margin: 20px auto;
    max-width: 1200px;
  }
  .react-multi-carousel-list {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 700px;
/* width: 1170px; */
    /* margin-left:20px; */

  }
  .react-multi-carousel-item {
    flex: 1 1 auto;
    position: relative;
    width: 381px;
    margin-left: 20px;
  }
  .react-multiple-carousel__arrow--left {
    left: calc(88% + 1px);
}
  .react-multiple-carousel__arrow {
    position: absolute;
    outline: 0;
    transition: all .5s;
    border-radius: 10px;
    z-index: 1000;
    border: 0;
    background: var(--primary-orange);
    min-width: 43px;
    min-height: 43px;
    opacity: 1;
    cursor: pointer;
  
    margin-top: 630px;
  }
  /* .product-box {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  } */
  .home-card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home-card-info-text{
    margin-bottom: -20px;
    margin-top: 50px;
  }
  .home-card-info-text h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: var(--primary-orange);
    margin-bottom: 10px;
    font-family: geologica;
    }
    
    .home-card-info-text h3 {
      margin-top: -19px;
      text-align: center;
      font-size: 50px;
      color: var(--primary-grey);
      font-weight: 800;
      margin-bottom: -19px;
      font-family: lilita one;
    }
    
    .home-card-info-text p {
      font-size: 22px;
      margin-top: 20px;
      text-align: center;
      font-weight: 100;
      font-family: geologica;
     color: var(--primary-grey);
    }

    .home-course-list-heading {
        font-family: Geologica, sans-serif;
        font-weight: bold;
        font-size: 20px;
        color: var(--primary-orange);
        margin: 20px 100px -40px auto;
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        margin-left: 1100px;
      }
      .home-learn-more-text1{
      position: absolute;
      bottom: 10px;
      right: 66px;
      transform: translateX(-50%);
      font-family: KoHo;
      font-size: 17px;
      color: rgb(255, 255, 255);
      cursor: pointer;
      text-decoration: none;
    }
  .product-box{
    height: 532px;
    width: 332px;
    background-color:var(--bg-color);
    border-radius: 41px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    
    transition: box-shadow 0.3s ease-in-out;
} 
.product-box:hover {
    box-shadow: 0 0 15px 4px rgba(75, 75, 75, 0.8);
  }

.product-box img{
    width: 347px;
    margin-left: -8px;
    height: 337px;
    object-fit: cover;
    margin-bottom: -31px;
}

.description-box{
    padding: 0 20px;
}

.description-box h3{
color:#0d0d0d;
font-size: 23.33px;
font-weight: bold;
font-family: KoHo;
}
.description-box h3 span{
    color: var(--primary-grey);
    font-size: 16.96px;
    font-weight: 400;
    margin-left: 130px;
}
.description-box p{
    margin-top: -13px;
    margin-bottom: 50px;
    color: #323030;
    font-size: 18.66px;
    font-family: KoHo;
}
.price{
    margin: 8px 0px;
    font-size: 20px;
    color:#222;
    font-weight: bold;
}

span{
    color: #777;
    margin-left: 10px;
}

.course-info{
    display: flex;
    flex-wrap: wrap;
    margin: -12px 0px;
    gap: 50px;
    color: var(--primary-grey);
    font-size: 16.96px;
    font-weight: 400;
}
.course-info img{
    width: 20px;
    height: 20px;
    object-fit: contain;
}
.info-item{
    display: flex;
    gap: 15px;
    font-size: 18.96px;
    color: var(--primary-grey);
    margin-top: -19px;
}

.info-item1{
    info-item1 {
        gap: 15px;
        font-size: 16.96px;
        color: var(--primary-grey);
        margin-top: -115px;
        margin-left: 106px;
    }
}

.info-item1 img{
    width: 189px;
    height: 123px;
    object-fit: contain;
}
.learn-more img{
    width: 100px;
}
.info-item1 h2{
    color: var(--bg-color);
    font-size: 19px;
    font-weight: 400;
    font-family: 'KoHo';
    text-decoration: none;
    margin-top: -49px;
    margin-left: 31px;
}

.bulb-icon img{
  width: 15px;
  height: 15px;
}

.info-item span{
    width: 200px;
    height: 100px;
}



@media (max-width: 768px) {
    .cards-container {
        gap: 20px;
    }
    .react-multi-carousel-item {
        width: 335px;
        height: 590px;
    }
    .react-multi-carousel-list {
        height: auto;
    }
    .react-multiple-carousel__arrow {
        display: none;
    }
    .react-multi-carousel-track{
        margin-left: -13px;
    }
    .home-learn-more-text1{
        bottom: 68px;
        right: 50px;
    }
}

@media (max-width: 426px) {
    
    .react-multi-carousel-track{
        margin-left: 5px;
    }
    .react-multi-carousel-item {
        /* width: 300px; */
        height:580px;
    }
    .home-learn-more-text1{
        bottom: 59px;
        right: 90px;
    }
    .home-card-info-text p{
        font-size: 18px;
    }
    .home-card-info-text h3{
        font-size: 40px;
        margin-top: -8px;
    }
}
@media (max-width: 376px) {
    
    .react-multi-carousel-track{
        margin-left: -17px;
    }
    .react-multi-carousel-item {
        /* width: 300px; */
        height: 656px;
    }
    .home-learn-more-text1{
        bottom: 135px;
        right: 47px;
    }
}
@media (max-width: 321px) {
    
    .react-multi-carousel-track{
        margin-left: -17px;
     }
     .react-multi-carousel-dot-list {
        bottom: 85px;
     }
     .home-learn-more-text1 {
        bottom: 135px;
        right: -11px;
    }
     
     /* .product-box {
        height: 532px;
        width: 304px;
        background-color: var(--bg-color);
        border-radius: 41px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
        transition: box-shadow 0.3s ease-in-out;
    }

.product-box img {
    width: 301px;
    margin-left: 4px;
    height: 300px;
    object-fit: cover;
    margin-bottom: -31px;
} */
info-item1 {
    gap: 15px;
    font-size: 16.96px;
    color: var(--primary-grey);
    margin-top: -115px;
    margin-left: 106px;
}
}

/* Full HD: 1920px */
@media (min-width: 1920px) {
  .cards-slider-container {
    max-width: 1440px;
  }

  .home-card-info-text h2 {
    font-size: 29px;
  }

  .home-card-info-text h3 {
    font-size: 60px;
  }

  .home-card-info-text p {
    font-size: 26px;
  }

  .react-multi-carousel-list {
    height: 840px;
  }

  .react-multi-carousel-item {
    width: 457px;
  }

  .product-box {
    height: 638px;
    width: 398px;
  }

  .product-box img {
    width: 416px;
    height: 404px;
  }

  .description-box h3 {
    font-size: 28px;
  }

  .description-box h3 span {
    font-size: 20px;
    margin-left: 156px;
  }

  .description-box p {
    font-size: 22px;
  }

  .course-info {
    gap: 60px;
    font-size: 20px;
  }

  .course-info img {
    width: 24px;
    height: 24px;
  }

  .info-item {
    font-size: 23px;
  }

  .info-item1 img {
    width: 227px;
    height: 148px;
  }

  .learn-more img {
    width: 120px;
  }

  .info-item1 h2 {
    font-size: 23px;
  }

  .react-multiple-carousel__arrow {
    min-width: 52px;
    min-height: 52px;
    margin-top: 756px;
  }
}

/* 2K: 2560px */
@media (min-width: 2560px) {
  .cards-slider-container {
    max-width: 1800px;
  }

  .home-card-info-text h2 {
    font-size: 36px;
  }

  .home-card-info-text h3 {
    font-size: 75px;
  }

  .home-card-info-text p {
    font-size: 33px;
  }

  .react-multi-carousel-list {
    height: 1050px;
  }

  .react-multi-carousel-item {
    width: 571px;
  }

  .product-box {
    height: 798px;
    width: 498px;
  }

  .product-box img {
    width: 520px;
    height: 505px;
  }

  .description-box h3 {
    font-size: 35px;
  }

  .description-box h3 span {
    font-size: 25px;
    margin-left: 195px;
  }

  .description-box p {
    font-size: 28px;
  }

  .course-info {
    gap: 75px;
    font-size: 25px;
  }

  .course-info img {
    width: 30px;
    height: 30px;
  }

  .info-item {
    font-size: 29px;
  }

  .info-item1 img {
    width: 284px;
    height: 185px;
  }

  .learn-more img {
    width: 150px;
  }

  .info-item1 h2 {
    font-size: 29px;
  }

  .react-multiple-carousel__arrow {
    min-width: 65px;
    min-height: 65px;
    margin-top: 945px;
  }
}

/* 4K: 3840px */
@media (min-width: 3840px) {
  .cards-slider-container {
    max-width: 2400px;
  }

  .home-card-info-text h2 {
    font-size: 48px;
  }

  .home-card-info-text h3 {
    font-size: 100px;
  }

  .home-card-info-text p {
    font-size: 44px;
  }

  .react-multi-carousel-list {
    height: 1400px;
  }

  .react-multi-carousel-item {
    width: 762px;
  }

  .product-box {
    height: 1064px;
    width: 664px;
  }

  .product-box img {
    width: 694px;
    height: 674px;
  }

  .description-box h3 {
    font-size: 47px;
  }

  .description-box h3 span {
    font-size: 34px;
    margin-left: 260px;
  }

  .description-box p {
    font-size: 37px;
  }

  .course-info {
    gap: 100px;
    font-size: 34px;
  }

  .course-info img {
    width: 40px;
    height: 40px;
  }

  .info-item {
    font-size: 38px;
  }

  .info-item1 img {
    width: 378px;
    height: 247px;
  }

  .learn-more img {
    width: 200px;
  }

  .info-item1 h2 {
    font-size: 38px;
  }

  .react-multiple-carousel__arrow {
    min-width: 86px;
    min-height: 86px;
    margin-top: 1260px;
  }
}