/* Main Section */
.abt-question-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; /* Adjust height as needed */
    max-width: 100%; /* Ensure responsiveness */
    margin: 50px auto;
    overflow: hidden;
  }
  
  /* Background Image */
  .abt-question-bg {
    position: absolute;
    width: 1152px;
    height: 331px;
    z-index: 0; /* Keep the background behind the content */
  }
  
  /* Overlay Content */
  .abt-content {
    position: relative;
    z-index: 2; /* Ensure text appears above the background */
    text-align: center;
    color: white;
  }
  
  .abt-bg-overlay {
    width: 661px;
    height: 110px;
    margin-bottom: 100px;
  }
  
  .abt-heading {
    font-size: 30px;
    font-family: lilita one;
    font-weight: 400;
    color: var(--primary-orange);
  }
  
  .abt-subheading {
    font-size: 24px;
    font-family: geologica;
  }
  
  .contact-form {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .phone-input {
    border: none;
    border-radius: 10px 0 0 10px;
    width: 367px;
    font-size: 22px;
    text-align: center;
    color: white;
    background-color: #444;
    font-family: geologica;
  }
  
  .contact-button {
    background-color: var(--primary-orange);
    color: white;
    width: 142px;
    height: 60px;
    border-radius: 0 10px 10px 0;
    font-size: 24px;
    cursor: pointer;
    border: none;
  }
  
  .contact-button:hover {
    background-color: #e5803b;
  }
  
  /* Decorative Images */
  .abt-decorative-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
  }
  
  .abt-decorative-image {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
  }
  
  .abt-decorative-images img:nth-child(1) {
    top: -20px;
    left: -150px;
  }
  
  .abt-decorative-images img:nth-child(2) {
    top: -30px;
    right: -120px;
  }
  
  .abt-decorative-images img:nth-child(3) {
    bottom: -20px;
    left: -80px;
  }
  
  .abt-decorative-images img:nth-child(4) {
    bottom: -10px;
    right: -140px;
  }
  
  .abt-decorative-images img:nth-child(5) {
    bottom: 65px;
    right: -90px;
    transform: translate(-50%, -50%);
  }
  
  .abt-decorative-images img:nth-child(6) {
    bottom: 95px;
    left: -46px;
  }

  @media (min-width: 768px) and (max-width: 1024px){
    .abt-question-section {
      height: 200px;
      width: 100%;
    }
  
    .abt-question-bg {
      width: 95%;
      height: 200px;
    }
  
    .abt-heading {
      font-size: 18px;
    }
  
    .abt-subheading {
      font-size: 14px;
    }
  
    .abt-bg-overlay {
      width: 100%;
      height: 180px;
      margin-bottom: 20px;
    }
  
    .abt-heading {
      font-size: 24px;
    }
  
    .abt-subheading {
      font-size: 20px;
    }
  
    .phone-input {
      width: 215px;
      height: 30px;
      font-size: 12px;
      border-radius: 5px 0 0 5px;
    }
  
    .contact-button {
      width: 80px;
      height: 32px;
      font-size: 10px;
      border-radius: 0 5px 5px 0;
    }
  
    .abt-decorative-image {
      width: 35px;
      height: 35px;
    }
  
    .abt-decorative-images img:nth-child(1) {
      top: 28px;
      left: -60px;
    }
  
    .abt-decorative-images img:nth-child(2) {
      top: 24px;
      right: -65px;
    }
  
    .abt-decorative-images img:nth-child(3) {
      bottom: 21px;
      left: -59px;
    }
  
    .abt-decorative-images img:nth-child(4) {
      bottom: 21px;
      right: -65px;
    }
  
    .abt-decorative-images img:nth-child(5) {
      bottom: 67px;
      right: -57px;
      transform: translate(-50%, -50%);
    }
  
    .abt-decorative-images img:nth-child(6) {
      bottom: 85px;
      left: -48px;
    }
  }
  @media (min-width:425px ) and (max-width: 450px) {
  /* @media (max-width: 426px) { */
    .abt-question-section {
      height: 185px;
      width: 100%px;
    }
    .abt-question-bg {
      width: 95%;
      height: auto;
    }
  
    .abt-heading {
      font-size: 16px;
    }
  
    .abt-subheading {
      font-size: 10px;
    }
    .abt-bg-overlay {
      width: 275px;
      height: 80px;
      margin-bottom: 70px;
    }
    
    .abt-heading {
      font-size: 18px;
    }
    .abt-subheading {
      font-size: 10px;
    }
    .abt-decorative-image {
      width: 30px;
      height: 30px;
    }
    .abt-decorative-images {
      left: -28px;
      width: 119%;
      height: 85%;
      top: 20px;
  }
    .abt-decorative-images img:nth-child(1) {
      top: 0px;
      left: -32px;
    }
    
    .abt-decorative-images img:nth-child(2) {
      top: 0px;
      right: -34px;
    }
    
    .abt-decorative-images img:nth-child(3) {
      bottom: 2px;
      left: -2px;
    }
    
    .abt-decorative-images img:nth-child(4) {
      bottom: 2px;
      right: 2px;
    }
    
    .abt-decorative-images img:nth-child(5) {
      bottom: 28px;
      right: -48px;
      transform: translate(-50%, -50%);
    }
    
    .abt-decorative-images img:nth-child(6) {
      bottom: 46px;
      left: -30px;
    }
  }
  @media (min-width:320px ) and (max-width: 426px) {
  /* @media (max-width: 376px) { */
    .abt-question-section {
      height: 280px;
      width: 375px;
    }
    .abt-question-bg {
      width: 355px;
      height: 150px;
    }
  
    .abt-heading {
      font-size: 20px;
    }
  
    .abt-subheading {
      font-size: 16px;
    }
    .abt-bg-overlay {
      width: 275px;
      height: 80px;
      margin-bottom: 35px;
    }
    
    .abt-heading {
      font-size: 20px;
    }
    .abt-subheading {
      font-size: 10px;
    }
    
    .phone-input {
      width: 110px;
      height: 25px;
      font-size: 8px;
      border-radius: 5px 0 0 5px;
    }
    
    .contact-button {
      width: 50px;
      height: 27px;
      font-size:8px;
      border-radius: 0 5px 5px 0;
    }
    .abt-decorative-images {
      height: 100%;
      left: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
  }
    .abt-decorative-image {
      width: 20px;
      height: 20px;
    }
    .abt-decorative-images img:nth-child(1) {
      top: 0px;
      left: -32px;
    }
    
    .abt-decorative-images img:nth-child(2) {
      top: 0px;
      right: -34px;
    }
    
    .abt-decorative-images img:nth-child(3) {
      bottom: 2px;
      left: -2px;
    }
    
    .abt-decorative-images img:nth-child(4) {
      bottom: 2px;
      right: 2px;
    }
    
    .abt-decorative-images img:nth-child(5) {
      bottom: 28px;
      right: -48px;
      transform: translate(-50%, -50%);
    }
    
    .abt-decorative-images img:nth-child(6) {
      bottom: 46px;
      left: -30px;
    }
  }
  @media (max-width: 321px) {
    .abt-question-section {
      height: 140px;
      width: 375px;
    }
    .abt-question-bg {
      width: 95%;
      height: auto;
    }
  
    .abt-heading {
      font-size: 16px;
    }
  
    .abt-subheading {
      font-size: 10px;
    }
    .abt-bg-overlay {
      width: 275px;
      height: 80px;
      margin-bottom: 35px;
    }
    
    .phone-input {
      height: 25px;
  }
    
    .abt-heading {
      font-size: 18px;
    }
    .abt-subheading {
      font-size: 10px;
    }
    .abt-decorative-image {
      width: 15px;
      height: 15px;
    }
    .abt-decorative-images {
      left: 23px;
      width: 82%;
      height: 88%;
      top: 6px;
  }
    .abt-decorative-images img:nth-child(1) {
      top: 0px;
      left: -32px;
    }
    
    .abt-decorative-images img:nth-child(2) {
      top: 0px;
      right: -34px;
    }
    
    .abt-decorative-images img:nth-child(3) {
      bottom: 2px;
      left: -2px;
    }
    
    .abt-decorative-images img:nth-child(4) {
      bottom: 2px;
      right: 2px;
    }
    
    .abt-decorative-images img:nth-child(5) {
      bottom: 28px;
      right: -48px;
      transform: translate(-50%, -50%);
    }
    
    .abt-decorative-images img:nth-child(6) {
      bottom: 46px;
      left: -30px;
    }
  }