@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.hourglass-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  padding: 20px;
  box-sizing: border-box;
}

.hourglass-title {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  margin-bottom: 30px;
  color: #333;
  text-align: center;
}

.container-glass {
  position: relative;
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.get-hourglass {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.txt-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 320px;
  position: relative;
  z-index: 3;
}

#timer {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #333;
  text-align: center;
}

#time {
  display: block;
  font-size: 1.8rem;
  font-weight: 600;
  color: #1c1c1c;
  margin-bottom: 10px;
}

.target-date {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
  color: #666;
  text-align: center;
  margin-top: 5px;
}

/* Responsive design */
@media (max-width: 768px) {
  .hourglass-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .container-glass {
    height: 250px;
    width: 250px;
  }

  .get-hourglass {
    width: 120px;
    height: 214px;
  }

  .get-hourglass svg {
    width: 120px;
    height: 214px;
  }

  .txt-center {
    margin-top: 270px;
  }

  #time {
    font-size: 1.5rem;
  }

  .target-date {
    font-size: 0.8rem;
    padding: 0 10px;
  }
}

@media (max-width: 480px) {
  .hourglass-title {
    font-size: 1.2rem;
  }

  .container-glass {
    height: 200px;
    width: 200px;
  }

  .get-hourglass {
    width: 100px;
    height: 179px;
  }

  .get-hourglass svg {
    width: 100px;
    height: 179px;
  }

  .txt-center {
    margin-top: 220px;
  }

  #time {
    font-size: 1.2rem;
  }

  .target-date {
    font-size: 0.7rem;
  }
}

